node_modules
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/app/components
app/components
.DS_Store
sisters-site-creds.json
sisters-site-test-creds.json
.ebextensions