/*Pink is #d038af*/
/*Blue is #5F9EDD*/
/*Footer is #dfd2c7*/
/*new color 1 is #e5dccd*/
/*new color 2 is #eee8de*/
/*real pink is #ffa3eb*/

@font-face {
    font-family: creditCard;
    src: url('/fonts/kredit-front.ttf');
}

@font-face {
    font-family: creditCardBold;
    src: url('/fonts/kredit-back.ttf');
}

.ng-hide.ng-hide-animate{
     display: none !important;
}

.btn:focus, .btn:active {
  outline: none;
}

#spinnerLoad {
  z-index: 9999;
}

body {
  /*background-color: #e5dccd;*/
  background-color: rgba(255,255,255,0);
  color: #1A0504;
  height: 100%;
  z-index: -9;
}

html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: .01em;
  color: #1A0504;
}

h4 {
    font-size: 2.4rem;
    line-height: 1.2;
}

.master-header {
  display: inline-block;
  margin: 20px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  padding: 5px 15px;
  border: 1px solid #1A0504;
  font-size: 2.4rem;
}

.admin-nav-btn {
  background-color: #f7799e; 
  padding: 5px; 
  border-radius: 2px; 
  color: #fff !important;
}

.admin-main-links {
  font-size: 6rem;
  cursor: pointer;
}

.admin-nav-btn:hover {
  background-color: #f891af;
}

button.button-tiny-circle {
    font-size: .6em;
    line-height: 15px;
    height: 15px;
    width: 15px;
}



.main-page-header {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: .04em;
    margin: 0;
    font-size: 2rem;
}


#footer-rule {
    display: block;
    height: 3px;
    width: 90%;
    margin: 0 auto;
    background-color: #beb19a;
}

table {
  font-size: .7em;
}

th {
  font-family: 'Fjalla One', sans-serif;
  border-bottom: 1px solid #dfd2c7;
  text-transform: uppercase;
  letter-spacing: .06em;
}

td {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding: 6px;
    border-bottom: 1px solid #dfd2c7;
}

td:last-child {
    padding-right: 10px;
}

#show-table td {
  height: 60px;
}

a, a:active, a:focus {
  color: #f7799e;
}

a:hover {
  color: #f7c5d4;
}

.single-show-div h4 {
  font-size: 1.9rem;
}


input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
  height: 28px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: .5rem;
  font-size: .9em;
}

select {
  height: 28px;
  padding: 2px 5px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: .5rem;
  font-size: .9em; 
}

.button-flat {
  outline: none;
}

.footer-nav {
    padding: 24px;
}

.cassette-div {
    width: 100px;
    margin: 0 auto 18px auto;
    position: relative;
    right: 8px;
}

.cassette-div img {
  width: 100%;
  height: 100%;
}

.about-header-section {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(255,255,255,.6);
}

.about-header-section-mobile {
  display: block;
}

#about-section p {
  font-size: 1.1em;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  white-space: pre-wrap; 
  text-align: justify;
  padding: 0 8%;
}

#press-section {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 20px 0px;
}

#press-section p {
  font-size: 1.1em;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  white-space: pre-wrap; 
  text-align: justify;
  padding: 0 8%;
}


.bio-img {
  width: 100%;
  height: 200px;
}

#bio-img-1 {
  background: url("/img/bio/sisters-side-by-side.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#bio-img-2 {
  background: url("/img/bio/sisters-bubblegum.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#bio-img-3 {
  background: url("/img/bio/sisters-poppin-bottle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*TEST CIRCLE CONTENT*/

.circle {
  position: relative;
  display: block;
  margin: .5em 0;
  background-color: transparent;
  color: white;
  text-align: center;
  transition:.2s linear all;
}

.circle .span {
  display: block;
}

.circle.display {
  color: #1A0504;
  transition:.2s linear all;
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #fc9fba;
  border: 4px solid #fc9fba;
  content: "";
  transition:.2s linear all;
}

.circle.display:after {
  background-color: rgba(252, 224, 232, 1);
  border: 4px solid #fcd9e3;
  transition:.2s linear all;
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}


/********************/

#admin-table {
  margin: 0 auto;
  text-align: center;
}

#admin-table td, #admin-table th {
  text-align: center;
  padding: 4px 14px;
}


.circle .header {
  position: relative;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .02em;
  font-size: 2.3em;
  font-weight: 400;
  text-shadow: 1px 1px 2px #945e6e;
  text-transform: uppercase;
}

.circle.display .header {
  text-shadow: 1px 1px 2px #777;
}

.circle .info {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  position: relative;
}

.circle .info span {
    font-size: 1.8em;
    line-height: 1.3em;
}

.circle .info a, .circle .info a:active, .circle .info a:hover {
  display: block;
  font-size: 1.1em;
  color: #f9eaef;
  transition: .2s linear all;
  line-height: 1.3em;
  text-decoration: none;
}

.circle.display .info a {
  color: #d038af;
  transition:.2s linear all;
}


.delete-post-btn {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 1.4em;
    background-color: rgba(0,0,0,0);
    color: #FF1919;
    border: 2px solid #FF1919;
    border-radius: 4px;
    outline: none;
}

.delete-post-btn:hover {
    color: #ff7575;
    border: 2px solid #ff7575;
    outline: none;
}

.bio-image-right {
    float: right;
    width: 30%;
    height: auto;
    margin: 3rem 1rem 1rem 2.5rem;
}

.bio-image-right img {
  height: 100%;
  width: 100%;
}


@keyframes overlay-fadein {
    from {background-color: rgba(0,0,0,0);}
    to {background-color: rgba(0,0,0,.5)}
}

@keyframes overlay-content-fadein {
    from {background-color: rgba(242,242,242,0);}
    to {background-color: rgba(242,242,242,1);}
}


.overlay-start {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index:501;
  background-color: rgba(0,0,0,0);
   animation-name: overlay-fadein;
    animation-duration: .3s;
}

.overlay-start.active {
  background-color: rgba(0,0,0,.5);
}

#overlay-content {
    /*position: absolute;*/
    margin:0 auto;
    padding: 20px;
    /*top: 0;*/
    position:fixed;
    left:50%;
    top:50%;
    width: 300px;
    height: 500px;
    z-index: 502;
    border-radius: 2px;
    margin-left:-150px;
    margin-top:-250px;
    animation-name: overlay-content-fadein;
    animation-duration: .3s;
    background-color: rgba(242,242,242,1);
}

.popup-header {
    color: #1A0504;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.9em;
    letter-spacing: .04em;
}

#overlay-content p {
  color: #1A0504;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 1;
  letter-spacing: .04em;
}

#popup-img-div {
    width: 225px;
    margin: 0 auto;
}



#popup-img-div img {
  width: 100%;
  height: 100%;
}

.popup-button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.5em; 
  text-transform: uppercase;
}

.popup-form {
  display: inline-block;
}

.popup-form input {
    width: 200px;
    border-radius: 4px 0 0 4px;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
}

#popup-submit {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 0 2px 2px 0;
    outline: none;
}

#popup-submit i {
  font-size: 1em;
  line-height: 34px;
}

#exit-popup {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  outline: none;
}

/*.overlay-content-start.active {
  background-color: rgba(255,255,255,.9);
}*/

.header-social {
  display: none;
}


.store-front.ng-enter {
  transition:0.2s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.store-front.ng-enter.ng-enter-active {
  opacity:1;
}


.row {
  margin-left: 0;
  margin-right: 0;
}

.disabled-inputs {
  color: #555;
}

.disabled-inputs input, .disabled-inputs textarea, .disabled-inputs select {
  background-color : rgb(247, 220, 241);
}

.checkbox input {
  margin-top: 0;
}

.thumbnail { 
  min-height: 34px;
  width: 40px;
}

.thumbnail img {
  display: inline-block;
  object-fit: cover;
  object-position: 100% 50%;
  width: 100%;
  height: auto;
}

#image-choice {
  display: inline-block;
  margin-left: 5px;
}

#youtube-choice {
    margin-left: 5px;
}

#youtube-input {
    margin-top: 3px;
}



.input-container {
  position: relative;
  overflow: hidden;
}

.input-validate-text {
  color: red;
  font-size: .8em;
  position: absolute;
  top: 5px;
  right: -300px;
  transition: right 0.2s; 
}

form .show {
  right: 15px;
}



.checkout-form.ng-submitted input.ng-invalid, .checkout-form.ng-submitted select.ng-invalid {
  border: 2px solid red;
  }

.checkout-form.ng-submitted input.ng-valid, .checkout-form.ng-submitted select.ng-valid {
  border: 1px solid #D1D1D1;
}

.edit-product {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0px 10.48px;
  outline: none;
}



.store-path-div {
  margin-bottom: 10px;
  display: inline-block;
  padding: 15px;
  background-color: rgba(255,255,255,.4);
}

.number-circle {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  text-align: center;
  background-color: #555;
  color: white;
  height: 22px;
  width: 22px;
  line-height: 22px;
  border-radius: 50%;
  font-family: 'PT Serif', serif;
  font-size: 1em;
  font-weight: bold;
}

.store-path-text {
  color: #555;
  margin-left: 25px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: .8em;
  text-transform: uppercase;
  line-height: 16px;
}

.store-path-text a {
  text-decoration: none;
}

.chevron-path {
  font-size: .8em;
  line-height: 16px;
}

.store-path-container {
  position: relative;
  display: inline-block;
  height: 22px;
}

.active-circle {
  color: white !important;
  background-color: #1A0504 !important;
}

.active-path {
  color: #1A0504 !important;
  text-decoration: underline;
}

.active-path a {
  text-decoration: none !important;
}

.store-header-div {
  height: 40px;
  background-color: #f7a0ba;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 10px;
}

.credit-card {
  font-family: creditCardBold;
  font-size: 1.2em;
}

.small-cart-card {
  background-color: #f7a0ba;
  border: 2px solid white;
  width: 100%;
  padding: 4px 16px 10px 16px;
}

.small-cart-card th {
  color: white;
  border-bottom: 2px solid white !important;
}

.small-cart-outline {
  background-color: #f7799e;
  padding: 8px;
  margin-bottom: 10px;
}

.small-cart-collapse {
  height: 50px;
  overflow: hidden;
}

.small-cart-collapse.cart-show {
  height: inherit;
}

.cart-summary-mobile {
  display: inherit;
}

.cart-summary-large {
  display: none;
}

.shipping-box {
  background-color: white;
  margin: 5px;
  padding: 20px;
}

.shipping-box ul {
  list-style: none;
}


  /*.small-cart-card h6 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color: white;
    line-height: 30px;
  }*/



  .small-cart-card td {
    font-family: 'PT Serif', serif;
    font-size: 1.3em;
    color: white;
    font-weight: 400;
    border-top: none !important;
    border-bottom: 1px solid #f7799e !important;
  }


  .store-header-div h6, .store-confirm-header-div h6, .small-cart-card h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
    line-height: 40px;
    font-weight: 400;
}

  .store-card {
    padding: 18px;
    background-color: #ffffff;
  }

  .store-card label {
    font-family: 'Helvetica Neue', sans-serif;
    color: #5e504f;
    margin-bottom: 0;
    font-weight: 400;
}

  .store-card-confirm {
    margin-bottom: 10px;

  }

  .white-confirm {
    color: #1A0504;
    padding: 8px;
    background-color: white;
    font-size:.9em;
    line-height:1.2;
  }

  .white-payment-confirm {
    color: #333;
    padding: 16px;
    background-color: white;
    font-size:1.2em;
    line-height:1.2;
  }

  .card-brands-container {
    width:100%;
  }

  .card-brands-div {
    display: inline-block;
    width: 23%;
    margin: 0 1% 10px 1%;
    float: left;
  }

  .card-brands-border {
    border: 4px solid rgba(255, 255, 255, 0);
    width: 100%;
  }

  .card-brands-div img {
    width: 100%;
  }

  .active-card {
    border: 4px solid red;
    border-radius: 8px;
    animation-name: card-flash;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
  }

  @keyframes card-flash {
    0%   {border-color: rgba(255, 255, 255, 0);}
    100% {border-color: rgba(255, 0, 0, 1);}
}

.payment-input input, .payment-input select, .payment-input textarea {
    font-family: creditCard;
    height: 36px;
    text-align: center;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: .5rem;
    font-size: 1.5em;
}

#willcall-input {
  height: 36px;
  width: 100%;
  font-size: 16px;
}





  .card-icon {
    width: 35px;
  }

  .ship-info-main {
    font-size: 1.1em;
  }

  .ship-info-sub {
    font-size:.9em;
    color: #888;
  }


.general-email-div {
  font-family: "Cormorant Garamond", serif;
  display: inline-block;
  background-color: rgba(255,255,255,.7);
  padding: 10px;
}



  .videoWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .white-space-pre {
    white-space: pre-line;
    text-align: justify;
  }

  .ta-scroll-window > .ta-bind {
    height: auto;
    min-height: 300px;
    padding: 6px 12px;
  }

  .form-control {
    height: auto;
  }

  .footer h5 {
    font-family: 'Fjalla One', sans-serif;
  }

  .condensed {
    letter-spacing: .01em;
    margin-bottom: 10px;

  }

  .blog-row {
    margin: 0;
  }
  .sidebar-right {
    min-height: 500px;
    display: inline-block;
  }

  .fancy {
    overflow: hidden;
    line-height: 0.8;
    text-align: center;
    font-weight: 600;
    color: #5e504f;
  }
  .fancy span {
    display: inline-block;
    position: relative;  
  }
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid #5e504f;
    top: 6px;
    width: 200px;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 8px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 8px;
  }

  .blog-path-nav {
    margin-left: 15px;
    padding: 5px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 15px;
  }

  .blog-path-nav span {
    font-size: .7em;
    font-weight: 300;
    text-transform: lowercase;
  }

  .blog-path-nav a {
    color: #1A0504;
    text-decoration: underline;
    font-size: .7em;
    font-weight: 600;
    text-transform: lowercase;
  }

  .blog-path-chevron {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}



  .blog-main {
    display: inline-block;
    min-height: 500px;
  }

  .insta-gallery {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: auto;
  }

.insta-photo {
    float: left;
    width: 30%;
    margin: 0 1.66666% 10px 1.66666%;
    padding: 3px;
    background-color: white;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px #bbb;
    -moz-box-shadow: 0 1px 1px #bbb;
    box-shadow: 0 1px 1px #bbb;
}

  .insta-photo img {
   width: 100%;
 }

 .blog-header {
   margin-bottom: 5px;
 }


.blog-header h5, .blog-header h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.blog-header a {
  color: #473636;
  text-decoration: none;
}

.blog-header a:hover {
  color: #8c8281;
}

.blog-date-div {
  display: inline-block;
  margin-top: 5px;
  border-top: 2px solid #777;
  padding-top: 3px;
}

.blog-date {
    font-family: "Helvetica Neue", sans-serif;
    color: #777;
    font-weight: 300;
}



.blog-edit-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 1.8em;
    width: 40px;
    line-height: 34px;
    padding: 0;
}

#photo-preview {
    display: inline-block;
    background-color: white;
    width: 100px;
    padding: 2px;
    border: 1px solid #999;
}

#photo-preview img {
  height: 100%;
  width: 100%;
}

.tag-input {
    margin: 10px auto 0 auto;
    width: 228px;
    position: relative;
    height: 28px;
}

.add-tag-btn {
    position: absolute;
    left: 200px;
    width: 28px;
    top: 0px;
    height: 28px !important;
    border-radius: 0 2px 2px 0;
    padding: 0;
}

.tag-input input{
  position: absolute;
  width: 200px;
  left: 0;
  top: 0;
  border-radius: 4px 0 0 4px;
  border-color: #ccc;
  border-right: none;
}

.ta-hidden-input {
  display: none;
}

.tag-div {
  display: block;
  text-align: center;
  width: 80%;
  margin: 0 auto 10px auto;
  min-height: 60px;
}

.tags {
  margin-top: 3px;
  margin-bottom: 0;
}

.edit-tag-btn {
  cursor: pointer;
  font-size: 2em;
  line-height: 10px;
  /* margin-top: 4px; */
  position: relative;
  top: 8px;
  padding-right: 12px;
  color: #d038af;
}

#edit-tag-modal-container {
  padding: 30px;
}


.tags li {
  list-style: none;
  display: inline-block;
  border: none;
}



.tags-ovals {
    font-family: 'Helvetica Neue', sans-serif;
    display: inline-block;
    font-size: .7em;
    color: white;
    font-weight: 400;
    padding: 3px 6px;
    border: none;
    border-radius: 24px;
    margin: 2px 3px 2px 3px;
    background-color: #f497b3;
}

.tags-ovals:hover {
  background-color: #f8becf;
}

.tag-delete-btn {
  margin-bottom: 0;
  padding: 2px 4px;
  font-size: 18px;
  line-height: 14px;
  height: 24px;
  border: none;
  color: #d9534f;
}

.checkbox-group {
    display: block;
    width: 100%;
    min-height: 50px;
    margin-bottom: 15px;
}

.checkbox-group label {
  float: left;
  display: inline-block;
  margin: 4px 5px;
  font-weight: 400;
}

.checkbox-group input {
  margin-right: 3px;
}

.cancel-blog-post {
    display: inline-block;
    height: 40.4px;
    line-height: 40.4px;
}

.image-panel img {
    object-fit: cover;
    object-position: 50% 0%;
    width: 100%;
    height: 275px;
}

.twitter-container {
  background-color: rgba(255,255,255,.9);
  padding: 10px 15px;
  margin: 15px 10px;
}

.twitter-header {
  font-size: .9em;
  color: #999;
}

.twitter-user-bar {
   margin-bottom: 5px;
}

.twitter-user-bar a {
  text-decoration: none; 
}

.twitter-user {
  color: #1A0504;
  font-size: 1em !important;
  font-weight: 600 !important;
}

.twitter-text {
    white-space: pre-wrap;
    font-size: 1em;
}

.twitter-interaction-bar ul {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: 0;
}

.twitter-interaction-bar li {
  display: inline-block;
  text-align: center;
  margin: 0 7%;
  font-weight: 600;
  color: #5e504f;
}

.twitter-interaction-bar a, .twitter-interaction-bar a:visited, .twitter-interaction-bar a:focus, .twitter-interaction-bar a:active {
  text-decoration: none;
  color: #5e504f;
}

.twitter-interaction-bar a:hover {
  text-decoration: none;
  color: #f7799e;
}

.blog-panel {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 35px;
}

.blog-panel p {
    margin-bottom: 0px;
    padding: 15px 0px 0 0px;
    font-family: "PT Serif", serif;
    font-size: 1em;
}

.blog-panel h6 {
  font-weight: 700;
  font-size: .9em;
  text-decoration: underline;
}

.blog-nav {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-bottom: 30px;
}

.blog-nav a {
  font-size: 1.2em;
}

#back-link {
  display: inline-block;
  float: left;
}

#next-link {
  display: inline-block;
  float: right;
}

.new-blog-form textarea {
  min-height: 200px;
}

.recent-posts-list {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-top: 10px;
  font-size: .8em;
}

.recent-posts-list ul {

}

.recent-posts-list li {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  overflow-wrap: normal;
  line-height: 1.3;
  list-style: none;
  margin-bottom: 2px;
}

.archive-list-links a {
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  overflow-wrap: normal;
  line-height: 1.3;
  list-style: none;
  margin-bottom: 4px;
}



.archive-container {
  width: 100%;
  margin: 20px auto;
}

.archive-year {
    display:inline;
    vertical-align: top;
    color: #5e504f;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 5px;
    width: 50%;
    text-align: right;
}

.month-list {
    text-align: left;
    margin-left: 3px;
    margin-top: 0;
    display: inline-block;
}



.archives ul {
    position: relative;
    top: 4px;
    list-style: none;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
}

.archives li {
  margin: 0;
  line-height: 1.4;
  display:block;
}

.each-year {
  display: inline-block;
  position: relative;
  margin-left: 33%;
}





.show-video {
  width: 100%;
  border-radius: 2px;
}

#video-box {
  margin: 0 auto;
}

#spinner-div {
  margin-top: 10%;
  text-align: center;
}

#spinner-div i {
  font-size: 6em;
  color: #aaaaaa;
}

.no-margin {
  margin: 0;
}

.modal-container {
  padding: 20px;
}

.modal-container h4 {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 600;
  letter-spacing: .04em;
  text-transform: uppercase;

}

.date-input {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.footer-auth {
  color: #efe2d7 !important;
  border-color: #efe2d7 !important;
  margin-bottom: 0;
  font-size: .8em;
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
}

.small-button {
  margin-bottom: 0;
  font-size: .8em;
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
}

#show-table th {
  padding: 12px 0;
}

#show-table th:first-child {
  padding-left: 0;
}

#show-table th:not(:first-child) {
  padding-left: 6px;
}

#venue-header {
  padding-left: 12px;
}

.edit-button {
  margin-bottom: 0;
  width: 34px;
  font-size: 1em;
  height: 24px;
  padding: 0;
  margin-right: 5px;
}

.btn-circle {
  border-radius: 50%;
}

.bold-button {
  font-size:1.3em;
  line-height:1.3em;
  font-weight:600;
  margin-bottom: 20px;
}

#main-signup-div {
    background-color: rgba(255, 255, 255,.9);
    /* border: 3px solid #d038af; */
    display: inline-block;
    padding: 15px 15px 15px 15px;
    margin: 0 auto 10px auto;
    border-radius: 2px;
    width: 100%;
}

#main-signup-div p {
  text-align: justify;
  font-family: "Cormorant Garamond", serif;
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 2px;
  margin-bottom: 2px;
  white-space: pre-wrap;
}

#wrap {
  min-height: 100%;
  margin-bottom: -176px;
}

#main {
  /*background-color: rgba(238,232,222,.9);*/
  background-color: rgba(247, 237, 245,.9);
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 176px;
  padding-top: 10px;
  opacity: 0;
  }  /* must be same height as the footer */

#main.show {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}



 #footer {
    background-color: rgba(255,255,255,1);
    position: relative;
    text-align: center;
    height: 176px;
    clear: both;
    top: 1px;
}

  #footer h5 {
    margin-bottom: 3px;
    line-height: 1.3;
    color: #5e504f;
  }

  #footer p {
    font-family: 'PT Serif', serif;
    margin-bottom: 0px;
    font-size: .9em;
    line-height: 1;
    color: #5e504f;
  }

  .footer-link {
    /*font-family: 'PT Serif', serif;*/
    text-decoration: none;
    font-size: .9em;
    line-height: 1;
  }

  #footer ul {
    height: 100%;
    margin: 0;
  }

  .footer-icon, .footer-icon:active, .footer-icon:focus {
    color: #5e504f;
    font-size: 1.7em;
    padding: 0;
  }

  #footer li {
    display: inline;
    padding: 5px 20px;
    color: #5e504f;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    text-transform: uppercase;
}

  #footer li:not(:first-child){
    border-left: 2px solid #5e504f;
  }

  #footer li a {
    color: #5e504f; 
    text-decoration: none;
  }

  #footer li a:hover {
    color: #f7799e;
  }

  .footer-social {
    padding: 0 5px 0 5px;
  }

  .footer-social a:hover {
    color: #f7799e;
  }

  .copyright {

    font-family: 'Oswald', sans-serif;
    color: #5e504f;
    font-size: .8em;
    letter-spacing: .07em;
    font-weight: 300;
    text-transform: uppercase;
  }

   .website-design {
    font-family: 'Oswald', sans-serif;
    color: #5e504f;
    font-size: .6em;
    letter-spacing: .07em;
    font-weight: 300;
  }

 .footer-right {
    height: 100%;
    padding: 75px 0 28px 0;
    background-color: white;
}

  .right-border {
    border-right: 2px solid #5e504f;
  }

  #main-nav {
    margin: 0 auto;
/*  width: 80%;
max-width: 1300px;*/
display: none;
}

#mobile-nav {
  padding: 20px 30px;
}

#mobile-background-div {
  top: 0;
}

.drop-hidden {
  display: none;
}

#mobile-nav #logo {
  float: left;
  height: 30px;
}

#mobile-nav ul {
    position: absolute;
    z-index: 999;
    right: 0px;
    list-style: none;
    width: 105px;
    padding: 10px 24px 10px 5px;
    background-color: #f7799e;
    z-index: 499;
}

#mobile-nav ul li {
  margin-bottom: 5px;
  text-align: right;
  color: white;
}

#mobile-nav ul li a {
    padding: 5px 10px;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .02em;
    font-weight: 300;
}

.shopping-cart {
    position: absolute;
    top: 20px;
    right: 70px;
}



.cart-add {
  opacity: 0;
  animation: fade 2s linear;
}

.animate-show.ng-hide {
  opacity: 0;
}

.shopping-cart a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}


.cart-summary {
    float: right;
    position: relative;
    top: -10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 43px;
    padding: 3px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background-color: rgba(247, 121, 158,.8);
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    color: white;
    z-index: 500;
}

.cart-summary:hover {
  background-color: rgba(247, 121, 158,.4);
}

.single-product-name {
    font-weight: 300;
    font-family: "Helvetica Neue";
}

.store-back-link {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.store-back-link:hover {
  color: #333;
  cursor: pointer;
}

.main-product-photo {
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
  display: inline-block;
}

.main-product-photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

.product-thumb-container {
  display: inline-block;
  float: left;
  width: 15%;
}

.product-thumb-div {
  width: 8vw;
  height: 8vw;
  margin-bottom: 10px;
  border: 1px solid #555;
  overflow: hidden;
  cursor: pointer;
}


.product-thumb-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: .5;
}

.activeThumb {
  opacity: 1 !important;
}

.store-item {
  position: relative;
  font-size: .9em;
  line-height: 1.4;
  padding: 16px 8px;
  text-align: center;
  display: block;
  overflow:auto;
  background-color: white;
  margin-bottom: 10px;
  border: 2px solid white;
}

.store-item:hover {
  border: 2px solid #555;
}

.store-item-title {
  font-weight: 400;
  margin-bottom: 0px;
}

.store-item-price {
  font-weight: 600;
}

.store-item h5 {
  margin-bottom: 5px;
}

.store-item p {
  text-align: left;
  padding: 0 8px;
  margin-bottom: 1rem;
}

.store-item select {
  margin-bottom: 0;
}

.store-item a {
  text-decoration: none;
}

.store-item .button {
  margin-top: 2px;
  margin-bottom: .3rem;
}

.cart-btn {
  width: 48%; 
  font-size: .7em;
  cursor: pointer;
}

.cart-btn-right {
  margin-left: 4%;
}


.item-image-div {
  width: 90%;
  margin: 10px auto;
  overflow: hidden;
}

.item-image-div img {
  width: 100%;
  object-fit: cover;
  object-position: 100% 50%;
}


#main-nav #logo {
  float: left;
  height: 30px;
  margin-top: 17px;
}

.navbar {
    height: 65px;
    line-height: 25px;
    padding: 10px 0px;
    background-color: rgba(255,255,255,.7);
    /* background-color: rgba(223,	210,	199, .5); */
}

.site-header, .site-footer { 
  opacity:0;  
}


.site-header.fade-in, .site-footer.fade-in { 
  opacity:1; 
}

.checkout {
  transition: all 200ms ease-in-out;
  opacity:0;
}

.checkout.fade-in {
  transition: all 200ms ease-in-out;
  opacity:1;
}

.blog-post {
  opacity:0;
}

.blog-post.fade-in {
  transition: all 200ms ease-in-out;
  opacity:1;
}


.confirm-complete {
  width: 100%;
  margin: 0 auto;
}

.confirm-complete img {
  width: 100%;
}

.confirm-complete.ng-enter {
  transition: all 300ms ease-in-out;
  opacity:0;
}

.confirm-complete.ng-enter.ng-enter-active {
  opacity:1;
}

.navbar ul {
  list-style: none;
}

.navbar li {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 26px;
    padding-left: 12px;
    margin-bottom: 0;
     font-weight: bold; 
    letter-spacing: .02em;
}

.navbar a {
  line-height: 26px;
  font-size: .9em;
  text-decoration: none;
  font-weight: 400;
  color: #1A0504;
  margin: 0;
}

.social {
  display: inline-block;
  padding-right: 0px;
}

.social i {
  font-size: 1.2em;
  display: inline-block;
  vertical-align: bottom;
  padding: 0 2px 6px 2px;
}

.float-right {
  float: right;
  vertical-align: center;
}




.nav-form {
    display: block;
    width: 100%;
    height: 30px;
    margin: 0 auto 0px auto;
}

.nav-form input {
    width: 90%;
    float: left;
    font-size: 1em;
    padding: 8px;
    margin: 10px 0 0 0;
    height: 30px;
    border-color: #f7799e;
    border-radius: 2px 0 0 2px;
    vertical-align: bottom;
}


.nav-form button, .nav-form button:hover, .nav-form button:visited, .nav-form button:focus {
    width: 10%;
    float: left;
    font-size: 1em;
    vertical-align: middle;
    background-color: #f7799e;
    color: white;
    border-color: #f7799e;
    border: 1px 1px 1px 0;
    border-radius: 0 2px 2px 0;
    padding: 4px;
    margin: 10px 0 0 0;
    height: 30px;
    line-height: 30px;
    vertical-align: bottom;
}


.mail-alerts {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    height: 30px;
    display: inline-block;
    text-align: center;
}

.mail-alerts span {
  line-height: 1.3;
  display: block;
}

.mailchimp-alert-confirm {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #f7799e;
    font-size: 1.3em;
    opacity: 0;
    letter-spacing: .03em;
}

.error {
  color: #D8000C;
}

.mailchimp-alert-confirm.confirmAnimate {
  opacity: 1;
  animation: kf-fade-in 1s linear;
}

@keyframes kf-fade-in {
  0% {opacity: 0}
  50% {opacity: .5}
  100% {opacity: 1}
}

@keyframes fade {
  0%,100% { opacity: 0 }
  25%,50%,75%,85% { opacity: 1 }
}


.clear-float {
  display: inline-block;
  clear: both;
}

.blog-admin-outer {
  background-color: rgba(247, 237, 245,1);
  padding: 20px;
}

.login-outer {
  background-color: rgba(247, 237, 245,1);
  padding: 20px;
}

.login-inner {
  background-color: white;
  padding: 10px;
}

.login-form {
  background-color: white;
}

.login-header {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: .03em;
}


.nav-left {
  float: left;
}

.nav-right {
  position: relative;
  width: 95%;
}

.home-content {
  opacity:0; 
  
}

.home-content h4 {
  letter-spacing: .02em;
  font-family: "Raleway", sans-serif;
  weight: 300;
}

.home-content h2 {
  letter-spacing: .05em;
  font-weight: 600;
}

.home-content.loaded {
  opacity:1;
}


.home-content.fade-in {
    transition: all 1000ms ease-in-out;
    opacity: 1;
    padding-bottom: 30px;
}

.album-border {
  border: 2px solid #1A0504;
}

.album-border img{
  width: 100%;
}


#album-full-width {
  display: none;
}

#album-cover {
  display: inherit;
}

.ticket-stats {
  display: inline-block;
  padding: 20px;
  border: 1px solid #1A0504;
  margin: 10px;
}

.ticket-stats h5 {
  margin: 0;
  font-weight: 300;
}


#shows-container {
  width: 100%;
  background-color: rgba(255, 255, 255, .9);
  padding: 20px;
  margin: 20px auto 20px auto;
}

#admin-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  margin: 20px auto 300px auto;

}

#admin-container h3 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 50px;
}

#blog-container {
  width: 100%;
  background-color: rgba(252, 244, 247, .9);
  padding: 20px;
  margin: 20px auto 200px auto;
}




#cart-container {
  width: 100%;
  background-color: rgba(255, 255, 255, .9);
  padding: 20px;
  margin: 20px auto 20px auto;
}



#product-add-container {
  background-color: white;
  width: 75%;
  padding: 20px;
  margin: 20px auto 0 auto;
}

#show-vid-large {
  display: none;
}

#show-img {
    display: inherit;
    width: 100%;
}



.contact {
  height: 100%;
  padding: 30px;
}

#mobile-background-div {
  background-position: 50% 50%;
}

@media (min-width: 550px){
  .main-product-photo {
    margin: 0 0 0 5%;
  }
}


@media (min-width: 766px){
#mobile-background-div {
  background-position: 50% 100%;
}

#press-section p {
  font-size: 1.3em;
  padding: 0 4%;
}
.circle {
  margin: 2em 0;
}

.circle .header {
  font-size: 3vw;
}
.circle .info span {
    font-size: 2.3vw;
    line-height: 3vw;
}
.circle .info a, .circle .info a:active, .circle .info a:hover {
  font-size: 1.5vw;
  line-height: 1.6vw;
}


.small-cart-card td {
    font-size: 1em;
}

.twitter-container {
    background-color: rgba(255,255,255,.9);
    padding: 10px 7px;
     margin: 15px 0; 
}

.about-header-section-mobile {
  display: none;
}

.about-header-section {
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: rgba(255,255,255,.6)
}
.bio-img {
  width: 100%;
  height: 350px;
}

#main-signup-div {
  display: inline-block;
  width: 90%;
  margin: 20px auto 30px auto;
}

.recent-posts-list li {
    font-size: .9em;
}

.archive-list-links a {
    font-size: .9em;
}


#main-nav #logo {
  margin-top: 8px;
}

.right-nav-social-width {
    width: 23.6666666667% !important;
}

  .cart-summary {
    top: 0px;
}

  #main {
  /*background: url('../img/ticks.png');*/
  overflow: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 176px;
  padding-top: 30px;
  opacity: 0;
  }  /* must be same height as the footer */

  .header-social {
  display: inline-block !important;
  }

  .nav-form {
    display: block;
    width: 306px;
    height: 50px;
    margin: 0 auto 0px auto;
}


.nav-form input {
    width: 270px;
    float: left;
    font-size: 1em;
    padding: 8px;
    margin: 10px 0 0 0;
    height: 30px;
    border-radius: 2px 0 0 2px;
    vertical-align: bottom;
}


.nav-form button, .nav-form button:hover, .nav-form button:visited, .nav-form button:focus  {
  width: 30px;
  float: left;
  font-size: 1em;
  vertical-align: middle;
  border: 1px 1px 1px 0;
  border-radius: 0 2px 2px 0;
  padding: 4px;
  margin: 10px 0 0 0;
  height: 30px;
  line-height: 30px;
  vertical-align: bottom;
}


    .blog-path-nav {
    margin-bottom: 25px;
  }

  .blog-path-nav span {
    font-size: 1em;
    
  }

  .blog-path-nav a {
    font-size: 1em; 
  }

.cart-btn {
  width: 25%; 
  cursor: pointer;
}

.cart-btn-right {
  margin-left: 50%;
}

.in-cart {
  margin-top: 0;
}


.store-item {
  font-size: .9em;
  line-height: 1.4;
  padding: 16px 8px;
  text-align: center;
  display: block;
  overflow:auto;
  background-color: white;
}

.cart-summary-mobile {
  display: none;
}

.cart-summary-large {
  display: inherit;
}


  .chevron-path {
  font-size: 1.3em;
  line-height: 30px;
}

.store-path-container {
  position: relative;
  display: inline-block;
  height: 30px;
}

  .number-circle {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 28px;
    border-radius: 50%;
    font-family: 'PT Serif', serif;
    font-size: 1.3em;
    font-weight: bold;
}

  .store-path-text {
    margin-left: 35px;
    font-size: 1.3em;
    line-height: 30px;
}

.store-path-text a {
  text-decoration: none;
}

  .shopping-cart {
  position: absolute;
  top: 10px; 
  right: 20px; 
}

  #show-vid-large {
    display: inherit;
  }

  #show-img {
    display: none;
  }

  #show-vid-small {
    display: none;
  }

  #mobile-nav {
    display: none;
  }
  #main-nav {
    display: inherit;
  } 

  table {
    font-size: 1.1em;
  }

  .site-header.fade-in, .site-footer.fade-in { 
    transition: all 1000ms ease-in-out; 
    opacity:1; 
  }

  .archive-year {
    font-size: .9em;  
  }

  .twitter-user {
    color: #1A0504;
    font-size: .8em !important;
    font-weight: 600 !important;
  }

  .twitter-header {
    font-size: .6em;
    color: #999;
  }

  .twitter-text {
    white-space: pre-wrap;
    font-size: .8em;
  }

  .mail-alerts {
    margin-top: 10px;
    margin-bottom: 10px;
}

#overlay-content {
    /* position: absolute; */
    margin: 0 auto;
    padding: 20px;
    /* top: 0; */
    position: fixed;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 600px;
    z-index: 502;
    border-radius: 2px;
    margin-left: -250px;
    margin-top: -300px;
    animation-name: overlay-content-fadein;
    animation-duration: .3s;
    background-color: rgba(242,242,242,1);
}

#popup-img-div {
  width: 400px;
  margin: 0 auto;
}

}


@media (min-width: 900px){
  body {
    background: url('/img/sistersBackground.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; 
  }
}






@media (min-width: 1134px){

.master-header {
  font-size: 3.2rem;
}

.single-show-div h4 {
  font-size: 2.4rem;
}


.main-product-photo {
  float: left;
  width: 70%;
  margin: 0;
  display: inline-block;
}

#press-section p {
    font-size: 1.4em;
    padding: 0 4%;
}

.blog-panel p {
    padding: 15px 25px 0 25px;
}

.twitter-text {
    white-space: pre-wrap;
    font-size: .9em;
}

.twitter-user {
    color: #1A0504;
    font-size: 1em !important;
    font-weight: 600 !important;
}

.twitter-header {
  font-size: .9em;
  color: #999;
}

.archive-year {
    font-size: 1.2em;
}
.archive-list-links a {
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  overflow-wrap: normal;
  line-height: 1.3;
  list-style: none;
  margin-bottom: 4px;
}

.twitter-container {
  padding: 10px 15px;
  margin: 15px 10px;
}

#about-section p {
    font-size: 1.3em;
}

.about-header-section {
  display: block;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  padding: 30px;
  background-color: rgba(255,255,255,.6)
}

.bio-img {
  width: 100%;
  height: 500px;
}
.main-product-photo {
    float: left;
    width: 80%;
    margin: 0 0 0 6%;
    height: auto;
    display: inline-block;
}

.main-product-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.main-product-img-wrap {

}

  #main-signup-div {
  display:inline-block;
  width: 50%;
  padding: 15px 25px;
}

#main-signup-div p {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}


  .recent-posts-list li {
  font-size: 1.3em;
}

  .right-nav-social-width {
    width: 30.6666666667% !important;
}

  .container {
    width: 92%;
  }

.main-page-header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.9em;
}



  .header-social {
  display: inline-block !important;
  }

  .image-panel img {
    object-fit: cover;
    object-position: 50% 0%;
    width: 100%;
    height: 400px;
  }

  .cart-btn {
    font-size: 1.1em;
  }

  #album-full-width {
    display: inherit;
  }

  #album-cover {
    display: none;
  }

  .album-border {
    border: none;
  }



#main-nav #logo {
    float: left;
    height: 40px;
    margin-top: 0px;
}


.social i {
    font-size: 1.6em;
    padding: 0 6px 5px 6px;
}


  .navbar li {
    font-size: 1.2em;
  }



  .nav-bar input {
    min-width: 80%;
    font-size: .9em;
  }

  .nav-bar button {
    width: 20%;
    max-width: 32px;
  }

  .blog-header a {
    text-decoration: none;
    font-size: 1.4em;
}
}

