<div class="row">
  <div class="eight columns">
    <div class="panel panel-default">
      <div class="panel-body">
          <label for="product-name">Product Name</label>
          <input class="u-full-width" type="text" placeholder="Red T-Shirt" name="product-name" ng-model="product.title">
          <label for="product-description">Description</label>
          <text-angular name="product-description" id="new-blog-textarea" ta-toolbar="[['h1','h2','h3'],['bold','italics','underline'],['insertLink', 'wordcount', 'charcount','html']]" ng-model="product.description"></text-angular>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">

        <label for="image-upload">Product Images</label>
       <div flow-init
       flow-drop
       flow-name="obj.flow"
     flow-files-submitted="$flow.upload()"
     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
  <div class="drop" ng-class="dropClass">
    <span class="btn btn-default" flow-btn>Upload Image</span>
    <span class="btn btn-default" flow-btn flow-directory ng-show="$flow.supportDirectory">Upload Folder of Images</span>
    <b>OR</b>
    Drag And Drop your images here
  </div>

  <br/>

  <div>


    <div ng-repeat="file in $flow.files" class="gallery-box">
      <span class="title">{{file.name}}</span>
      <div class="thumbnail" ng-show="$flow.files.length">
        <img flow-img="file" />
      </div>
      <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
        <div class="progress-bar" role="progressbar"
             aria-valuenow="{{file.progress() * 100}}"
             aria-valuemin="0"
             aria-valuemax="100"
             ng-style="{width: (file.progress() * 100) + '%'}">
          <span class="sr-only">{{file.progress()}}% Complete</span>
        </div>
      </div>
      <div class="btn-group">
        <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
          Remove
        </a>
        <a class="btn btn-xs btn-info" ng-click="makeMainImage($index)">
          Make Main Image
        </a>
      </div>
    </div>
    <div class="clear"></div>
  </div>

</div>





      </div>
    </div>
  </div>

  <div class="four columns">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>Should this product be active?</h5>
          <label>
            <input type="radio" ng-model="product.active" ng-value="false">
            No
          </label><br/>
          <label>
            <input type="radio" ng-model="product.active" ng-value="true">
            Yes
          </label><br/>
          <label>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>Is this product shippable?</h5>
          <label>
            <input type="radio" ng-model="product.shippable" ng-value="false">
            No
          </label><br/>
          <label>
            <input type="radio" ng-model="product.shippable" ng-value="true">
            Yes
          </label>       
          <div ng-if="product.shippable === true">
             <hr>
          <label>
            Weight (oz):
            <input type="number" ng-model="product.shipping.weight">         
          </label><br/>
          <label>
            Length (in):
            <input type="number" ng-model="product.shipping.length">         
          </label>
          <label>
            Width (in):
            <input type="number" ng-model="product.shipping.width">         
          </label>
          <label>
            Height (in):
            <input type="number" ng-model="product.shipping.height">         
          </label>
      </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>Does this product include variants?</h5>
          <label>
            <input type="radio" ng-model="product.variant.bool" ng-value="false">
            No
          </label><br/>
          <label>
            <input type="radio" ng-model="product.variant.bool" ng-value="true">
            Yes
          </label><br/>
        <div ng-if="product.variant.bool === false">
           <label>
            Price:
          <input type="text" placeholder="10.99" cents-to-dollars ng-model="obj.price">
          </label>
        </div>
        <div ng-if="product.variant.bool === true">
        <hr>
        <div style="text-align: center;">
          <button class="button button-flat-pink" ng-click="addVariant()">Add Variant</button>
        </div>
        <table style="margin-top: 10px;" id="variant-table" class="table table-bordered">
          <tr ng-if="product.variant.bool === true && newSkus.length > 0">
            <th>Variant Name</th>
            <th>Price</th>
            <th></th>
          </tr>
          <tr ng-repeat="thisVariant in newSkus">
            <td><input class="variant-input" type="text" placeholder="Variant Name (ie: Large)" ng-model="thisVariant.variantName"></td>
            <td style="max-width: 40px;"><input class="variant-input" type="text" placeholder="10.99" cents-to-dollars ng-model="thisVariant.price"></td>
            <td style="min-width: 70px; padding: 4px; text-align: center; cursor: pointer;">
              <i ng-click="variantUp($index)" class="variant-controls fa fa-arrow-up" aria-hidden="true"></i>
              <i ng-click="variantDown($index)" class="variant-controls fa fa-arrow-down" aria-hidden="true"></i>
              <i ng-click="deleteVariant($index)" class="variant-controls fa fa-trash-o" aria-hidden="true"></i>
            </td>
          </tr>
        </table>
    </div>
      </div>
    </div>

    <button ng-click="submit()" class="button button-flat-pink">Submit</button>
  </div>
</div>