
  <h2 style="text-align: center; margin-bottom: 0px;">Orders</h2>
  <div style="text-align: center;">
  <div>
   <label style="display: inline-block; margin: 20px 5px;">
    <input type="radio" ng-model="orders" ng-value="completeOrders">
    Completed Orders
  </label>
  <label style="display: inline-block; margin: 20px 5px;">
    <input type="radio" ng-model="orders" ng-value="pendingOrders">
    Pending Orders
  </label>
  </div>
  </div>
  <div class="row">
    <div class="ten columns offset-by-one">
    <table class="table table-striped" id="admin-table" border="1" ts-wrapper ts-per-page-options="[25,50,100,200]" ts-per-page-default="25" ts-item-name="order">
    <thead>
      <tr>
        <th ts-criteria="orderNumber">Order #</th>
        <th ts-criteria="dateCreated" ts-default="descending">Date Created</th>
        <th ts-criteria="billing.name">Name</th>
        <th ts-criteria="totalItemsPrice">Total Cost</th>
        <th ts-criteria="stripeChargeId">Stripe Order #</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders" ts-repeat ts-hide-no-data>
        <td><a ng-href="/admin/orders/{{order.orderNumber}}">{{order.orderNumber}}</a></td>
        <td>{{order.dateCreated | TimeDate}}</td>
        <td>{{order.billing.name}}</td>
        <td>{{order.totalItemsPrice | centsToDollars | currency}}</td>
        <td><a ng-href="https://dashboard.stripe.com/payments/{{order.stripeChargeId}}" target="_blank">{{order.stripeChargeId}}</a></td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>


