<div ng-hide="attrs.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

</div>
<div ng-show="attrs.id">
    <div>
        <a style="cursor: pointer;" class="button button-flat-pink"
           ng-click="ngCart.addItemBtn(id, sku, name, price, 1, data); $event.stopPropagation();"
           ng-transclude></a>
    </div>
    <div style="height: 20px">
    <div  class="in-cart" ng-show="inCart()">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id); $event.stopPropagation();" style="cursor: pointer;">Remove</a>
    </div>
    </div>
</div>