<div class="u-full-width store-card">

    <table class="table table-striped ngCart cart">

        <thead>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr class="main-cart-row" ng-show="ngCart.getTax()">
            <td></td>
            <td></td>
            <td></td>
            <td>Tax ({{ orderDetails.taxRate }}%):</td>
            <td>{{ orderDetails.taxTotal | currency }}</td>
        </tr>
        <tr class="main-cart-row" ng-show="ngCart.getShipping()">
            <td></td>
            <td></td>
            <td></td>
            <td>Shipping ({{orderDetails.shippingInfo.service}}):</td>
            <td>{{ orderDetails.shippingInfo.price | currency }}</td>
        </tr>
        <tr class="main-cart-row">
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{ orderDetails.total | currency }}</td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in ngCart.getCart().items track by $index">
            <td></td>

            <td>{{ item.getName() }}</td>
            <td>
                {{ item.getQuantity() | number }}
                </td>
            <td>{{ item.getPrice() | currency}}</td>
            <td>{{ item.getTotal() | currency }}</td>
        </tr>
        </tbody>
    </table>
</div>
<style>
    .ngCart.cart span[ng-click] {
        cursor: pointer;
    }
    .ngCart.cart .glyphicon.disabled {
        color:#aaa;
    }
</style>