
<div class="store-card" ng-show="ngCart.getTotalItems() > 0">
    <div class="small-store-header-div">
        <h6 class="text-center">Order Summary</h6>
    </div>
    <table class="table table-striped ngCart cart">
        <tr>
            <td>Subtotal: </td>
            <td>{{ngCart.getSubTotal() | currency}}</td> 
        </tr>
        <tr >
            <td>Tax ({{ngCart.getTaxRate() || 0}}%):</td>
            <td>{{ ngCart.getTax() || 0 | currency }}</td>
        </tr>
        <tr>
            <td>Shipping:</td>
            <td>{{ ngCart.getShipping()|| '--' | currency }}</td>
        </tr>
        <tr>
            <td>Total:</td>
            <td>{{ ngCart.totalCost() | currency }}</td>
        </tr>
    </table>
</div>



<style>
    .ngCart.cart span[ng-click] {
        cursor: pointer;
    }
    .ngCart.cart .glyphicon.disabled {
        color:#aaa;
    }
</style>