  <div class="blog-post" ng-class="{'fade-in': loaded}" ng-repeat="post in posts | orderBy:'-timestamp'">
      <div ng-if="post.img.length > 0" class="image-panel">
        <img ng-src="{{post.img}}"/>
      </div>
      <div ng-if="post.youtube.length > 0" class="videoWrapper">
       <iframe width="560" height="349" src="{{post.youtube | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
     </div>
     <div class="blog-panel">
      <div class="blog-header text-center">
        <button ng-if="firebaseUser.email" class="blog-edit-button" ng-click="editPost(post.slug)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <h5 class="no-margin"><a ng-href="/blog/show/{{post.slug}}">{{post.postTitle}}</a></h5>
        <span class="blog-date">{{post.timestamp | MomentFilter}}</span>
      </div>
      <p class="white-space-pre">
        {{post.postBody | cut:enable:true:275:'...' }} <a ng-if="enable && post.postBody.length >= 275" ng-href="/blog/show/{{post.slug}}">Read More!</a>
      </p>
      <div class="tag-div">
        <h6 style="margin-bottom: 5px;">TAGS</h6>
        <ul class="tags">
          <li ng-repeat="tag in allTags" ng-if="post.tags[tag.$id]">{{tag.name}}</li>   
        </ul>
      </div>
    </div>
  </div>
  <div class="blog-nav">
    <a id="back-link" ng-hide="last === length" ng-href="{{pageDown}}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Newer</a>
    <a id="next-link" ng-hide="first <= 0 || allPosts.length < 5" ng-href="{{pageUp}}">Older <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
  </div>