<!--<div ng-if="location !== '/blog/'">
  {{location}}
</div>-->
<div class="blog-path-nav" ng-if="location !== '/blog/' && location.indexOf('/blog/archives/') > -1">
 <a href="/blog">Blog</a> <span class="blog-path-chevron"><i class="fa fa-chevron-right" aria-hidden="true"></i><i class="fa fa-chevron-right" aria-hidden="true"></i></span> <span>{{params.month}} {{params.year}}</span>
</div>
<div class="blog-path-nav" ng-if="location !== '/blog/' && location.indexOf('/blog/show/') > -1">
   <a href="/blog">Blog</a> <span class="blog-path-chevron"><i class="fa fa-chevron-right" aria-hidden="true"></i><i class="fa fa-chevron-right" aria-hidden="true"></i></span> <span>{{posts[0].postTitle}}</span>
</div>
<div class="blog-path-nav" ng-if="location !== '/blog/' && location.indexOf('/blog/tags/') > -1">
  <a href="/blog">Blog</a> <span class="blog-path-chevron"><i class="fa fa-chevron-right" aria-hidden="true"></i><i class="fa fa-chevron-right" aria-hidden="true"></i></span> <span>{{tagName}}</span>
</div>
<div class="blog-container">
  <div class="blog-post" ng-class="{'fade-in': loaded}" ng-repeat="post in posts | orderBy:'-timestamp'">
      <div ng-if="post.img.length > 0" class="image-panel">
        <img ng-src="{{post.img}}"/>
      </div>
      <div ng-if="post.youtube.length > 0" class="videoWrapper">
       <iframe width="560" height="349" src="{{post.youtube | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
     </div>
     <div class="blog-panel">
      <div class="blog-header text-center">
        <button ng-if="firebaseUser.email" class="button button-border-pink button-rounded button-large blog-edit-button" ng-click="editPost(post.slug)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <h4 class="no-margin"><a ng-href="/blog/show/{{post.slug}}">{{post.postTitle}}</a></h4>
        <span class="blog-date">{{post.timestamp | MomentFilter}}</span>
      </div>
      <div ng-bind-html="post.postBody | cut:enable:true:275:'...'" class="white-space-pre"></div>
      <a ng-if="enable && post.postBody.length >= 275" ng-href="/blog/show/{{post.slug}}">Read More!</a>
      <div class="tag-div">
        <div ng-if="allTags.length > 0" class="tag-content">
          <h6 style="margin-bottom: 5px;">TAGS</h6>
          <ul class="tags">
            <li ng-repeat="tag in allTags" ng-if="post.tags[tag.$id]">{{tag.name}}</li>   
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-nav">
    <a id="back-link" ng-hide="last === length" ng-href="{{pageDown}}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Newer</a>
    <a id="next-link" ng-hide="first <= 0 || allPosts.length < 5" ng-href="{{pageUp}}">Older <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
  </div>
</div>