  <div class="blog-post" ng-class="{'fade-in': loaded}">
  <button ng-if="firebaseUser.email" style="width: 100%; margin-bottom: 20px" class="button button-border-pink button-rounded button-large" ng-click="newBlogPost()">New Blog Post</button>
  <div class="fancy"><span><i class="fa fa-twitter" aria-hidden="true"></i> RECENT TWITTER</span></div>
  
  <div class="twitter-container">
    <div class="twitter-user-bar">
      <a href="https://twitter.com/sisterstheband" target="_blank"><span class="twitter-user">{{twitterUser}}</span> <span class="twitter-header">@{{twitterHandle}} · {{tweetDate | timeAgo}}</span></a>
    </div>
    <div class="twitter-text" data-ng-bind-html="tweet"></div>
    <div class="twitter-interaction-bar">
      <ul>
        <li><a ng-href="https://twitter.com/intent/retweet?tweet_id={{tweetId}}" target="_blank"><i class="fa fa-reply" aria-hidden="true"></i></a></li>
        <li><a ng-href="https://twitter.com/intent/retweet?tweet_id={{tweetId}}" target="_blank">{{retweets}} <i class="fa fa-retweet" aria-hidden="true"></i></a></li>
        <li><a ng-href="https://twitter.com/intent/like?tweet_id={{tweetId}}" target="_blank">{{favorites}} <i class="fa fa-heart" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="fancy"><span><i class="fa fa-instagram" aria-hidden="true"></i> RECENT INSTAGRAM</span></div>

  <div class="insta-gallery">
    <div class="insta-photo" ng-repeat="photo in photos | limitTo:9">
      <a ng-href="{{photo.link}}" target="_blank"><img ng-src="{{photo.images.low_resolution.url}}"/></a>
    </div>
  </div>
  <div class="fancy"><span>RECENT POSTS</span></div>
  <ul class="recent-posts-list">
    <a ng-repeat="recent in recentPosts | orderBy:'-timestamp' | limitTo:4" ng-href="/blog/show/{{recent.slug}}"><li style="text-align: center;">{{recent.postTitle}}</li></a>
  </ul>
  <div class="fancy"><span>ARCHIVES</span></div>

  <div class="archives archive-container">
      <div class="each-year" ng-repeat="year in years">
        <div class="archive-year">{{year.$id}}:</div>
        <div class="month-list">
          <ul>
            <li class="archive-list-links" ng-repeat="(key,val) in year"><a ng-href="/blog/archives/{{year.$id}}/{{key}}">{{key}}</a></li>
          </ul> 
        </div>      
      </div>
  </div>
  <div class="fancy"><span>TAGS</span></div>
  <div class="tags">
    <ul>
      <li style="float: left;" ng-repeat="tag in allTags"><a ng-href="/blog/tags/{{tag.name}}"><div class="tags-ovals">{{tag.name}}</div></a><a class="edit-tag-btn" ng-if="firebaseUser.email" ng-click="editTag(tag)"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></a></li>
      <!--<a ng-repeat="tag in allTags" ng-href="/blog/tags/{{tag.name}}"><li style="float: left;">{{tag.name}} </li></a>-->
    </ul>
  </div>
  </div>