<div id="blog-admin-container">
<div class="row">
<div style="position: relative;" class="ten columns offset-by-one blog-admin-outer">
<form style="margin-bottom: 0;" class="new-blog-form">
  <label for="blogTitle">Post Title</label>
  <input type="text" class="u-full-width" placeholder="This is a post title..." ng-model="post.postTitle" id="blogTitle"/>
  <div style="margin-bottom: 5px;" class="row">
    <div style="float: left;">
      <label for="singleSelect"> Media Type: </label>
      <select style="margin-top: 3px;" name="singleSelect" ng-model="data.mediaSelect" ng-init="post.images ? data.mediaSelect = 'image' : data.mediaSelect = 'youtube'" ng-change="resetMedia()">
        <option value="image">Image</option>
        <option value="youtube">YouTube URL</option>
        <!-- <option value="soundcloud">Soundcloud URL</option> -->
      </select>
    </div>
    <div style="float: left;">
      <!--<div ng-show="data.mediaSelect === 'image'" id="image-choice">
        <label for="imageUpload"> Image: </label>
        <div name="imageUpload">
          <input ng-show="!post.img && data.mediaSelect === 'image'" type="file" fileread="data.image"/>
          <button style="display: inline-block; margin-top:1px" class="button button-flat-pink button-rounded" ng-hide="!post.img" ng-click="post.img = null">Change image?</button>
        </div>
      </div>-->
      <div ng-if="data.mediaSelect === 'image'" flow-init="{singleFile:true}" flow-name="data.flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope">
    <div class="thumbnail" ng-show="!data.flow.files.length && !post.images">
      <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
    </div>
      <div class="thumbnail ng-hide" ng-show="data.flow.files.length || post.images[0].downloadURL">
        <img ng-if="data.flow.files.length" flow-img="data.flow.files[0]">
        <img ng-if="!data.flow.files.length && post.images" ng-src="{{post.images[0].downloadURL}}">
      </div>
    <div>
      <span class="btn btn-primary" ng-show="!$flow.files.length && !post.img" flow-btn="">Select image<input type="file" style="visibility: hidden; position: absolute;"></span>
      <span class="btn btn-info ng-hide" ng-show="$flow.files.length || post.img" flow-btn="">Change<input type="file" style="visibility: hidden; position: absolute;"></span>
      <span class="btn btn-danger ng-hide" ng-show="$flow.files.length" ng-click="$flow.cancel()">
        Remove
      </span>
    </div>
    <p>
      Only PNG,GIF,JPG,JEPG files allowed.
    </p>
    </div>
      
      <div ng-show="data.mediaSelect === 'youtube'" id="youtube-choice">
        <input id="youtube-input" class="u-full-width" type="text" name="youtube" placeholder="Enter YouTube link..." ng-model="data.youtube"/>
      </div>
    </div> <br>
    </div>
   <text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics','underline'],['insertLink', 'wordcount', 'charcount','html']]" ng-model="post.postBody"></text-angular>
  <div class="tag-input">
  <input type="text" placeholder="new tag name" ng-model="data.newTag"/>
  <button class="button button-flat-pink button-tiny add-tag-btn" ng-click="addTag(data.newTag)"><i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>
  <br>
  <div class="checkbox-group">
  <label ng-repeat="(key, value) in tags">
         <input type="checkbox" id="{{ key }}" value="{{ value }}" ng-model="post.tags[value.$id]">{{ value.name }}
   </label>
   </div>
  <!-- <button class="tag-delete-btn" ng-click="deleteTag(tag)"><i class="fa fa-trash" aria-hidden="true"></i></button> -->
  <div class="text-center">
  <a ng-href="/blog" class="button-large button-flat-blue cancel-blog-post">Cancel</a>
  <input class="no-margin button-flat-pink button-large" ng-click="submit()" type='submit'>
  <button ng-click="confirmBlogDelete(post)" class="btn btn-danger btn-circle"><i class="fa fa-trash" aria-hidden="true"></i></button>
  </div>
</form>

</div>
</div>
<!-- <label ng-repeat="role in roles">
  <input type="checkbox" data-checklist-model="user.roles" data-checklist-value="role"> {{role.text}}
</label> -->
</div>



