<div id="shows-container">
<!--   <h2 style="letter-spacing: .02em;" class="text-center">SHOW DATES</h2> -->
  <div id="video-box" class="u-max-full-width">
    <video id="show-vid-large" class="show-video" autoplay loop>
      <source src="/media/sistersVid.mp4" type="video/mp4">
      <source src="/media/sistersVid.webmsd.webm" type="video/webm">
       <img src="/img/sistersVidStill.png"/>
    </video>
      <img id="show-img" src="/img/sistersVidStill.png" />
  </div>
  <div style="text-align: center; margin-top: 10px;" class="row">
  <button ng-if="firebaseUser.email" type="button" class="button-border-pink button-jumbo" ng-click="open('new')"><i class="fa fa-plus" aria-hidden="true"></i> Add New Show</button>
  </div>
  <h2 class="text-center master-header">Upcoming Shows</h2>
  <table id="show-table" ng-if="shows.length > 0" class="u-full-width">
  <thead>
    <tr>
      <th ng-if="firebaseUser.email"></th>
      <th>Date</th>
      <th>City</th>
      <th>Venue</th>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="show in shows | tooOld track by $index">
      <td ng-if="firebaseUser.email"><button type="button" class="button button-border-pink edit-button" ng-click="open('edit',$index)"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
      <td>{{show.date}}</td>
      <td>{{show.location}}</td>
      <td>{{show.venue}}</td>
      <td>
        <a ng-if="show.venueLink" ng-href="{{show.venueLink}}" target="_blank">venue</a>
        <br ng-if="show.ticketLink && show.venueLink">
        <a ng-if="show.ticketLink" ng-href="{{show.ticketLink}}" target="_blank">tickets</a></td>
    </tr>
  </tbody>
</table>
<div ng-if="shows.length === 0">
  <h2 class="text-center">There are currently no shows scheduled.</h2>
</div>
</div>




<!-- <div ng-if="!loaded" id="spinner-div">
  <fa name="spinner" spin></fa>

  <i class="fa fa-circle-o-notch fa-spin"></i>
</div> -->