
<div id="shows-container" class="single-show-div">
    <div style="margin-left: 5px; margin-bottom: 15px;">
    <a style="color: #1A0504;" class="store-back-link" href="/shows"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Shows</a>
</div>
<div class="row">
    <div class="seven columns">


        <div ng-if="images.length > 1" class="product-thumb-container">
        <div id="attr-select" ng-click="changeActive()" ng-repeat="img in images" class="product-thumb-div"><img ng-class="{'activeThumb': isActiveImg()}" ng-src="{{img}}"/></div>
        </div>
        <div class="main-product-img-wrap">
            <div class="main-product-photo"><img /></div>
        </div>
    </div>
    <div class="five columns">
        <h4 class="single-product-name text-center" style="margin-bottom: 3px; font-weight: 500;">{{showUnix | MomentFilter}}</h4>
        <h5 class="single-product-name text-center" style="font-weight: 500;">{{show.location}}</h5>
        <h5 class="single-product-name text-center">{{show.venue}}</h5>
        <p style="font-weight: 600; padding: 0 5%;">{{ticket.subheader}}</p>
        <div style="padding: 0 5%;" ng-bind-html="ticket.description"></div>
     
     
        <ngcart-addtocart ng-if="ticket.totalTickets > 0" class="text-center" id="{{ ticket.$id }}" sku="{{ticket.skus[0].id}}" name="{{ show.venue }}" price="{{ ticket.skus[0].price }}" quantity="1" quantity-max="8" data="{'product_type': ticket.product_type, 'date': show.unix }">Add to Cart</ngcart-addtocart>
        <div style="text-align: center;" ng-if="ticket.totalTickets <= 0">
            <h3>SOLD OUT</h3>
        </div>
    </div>
</div>
</div>