
<!--<div class="bio-image-right">
  <img src="img/album.jpg"/>
</div>-->
<div id="about-section">
<div id="bio-img-1" class="bio-img" parallax-background parallax-start-point="40" parallax-ratio=".2">
  <div class="about-header-section">
    <h3 class="text-center no-margin">SISTERS</h3>
    <h4 style="font-style: italic;" class="text-center no-margin">Wait Don't Wait</h4>
  </div>
</div>
<!--<div style="margin-top: 5px;" class="about-header-section-mobile">
    <h3 class="text-center no-margin">SISTERS</h3>
    <h4 style="font-style: italic;" class="text-center no-margin">Drink Champagne</h4>
</div>-->
<p>
“A revolution without dancing is not a revolution worth having" is a quote famously attributed to Author Emma Goldman. These words could be the motto of Emily Westman and Andrew Vait; better known as pop duo SISTERS.  

Wait Don't Wait is the band’s second full-length album to be slated for release in this dark and disorienting year of 2017 – and their first release via Tender Loving Empire.  Their debut LP, Drink Champagne (self-released Valentine’s Day 2017) was met with a confluence of, “How were you able to release such a happy record right now?” and, “Thank you so much for releasing such a happy record right now!”; sentiments that are only amplified, strengthened and refined on Wait Don't Wait.  Joy as an act of revolutionary defiance in the face of oppression is the name of their game, and it sounds too damn good to ignore.

March of 2017 in a cabin nestled outside of Clinton, Washington; Whidbey Island: Equipped with an iPhone for recording, a drum kit and a few synthesizers and guitars, Westman and Vait hole up for a week.  Each day, they improvise from dawn until dusk as the cornerstones of songs emerge.  Each thread is built upon – developed with care, knowledge, and - most obviously - the joy of discovery.  Lyrics are free-styled and penned over a core skeletal structure until the spirit of a song emerges and is recorded to the iPhone.  As their time on the island draws to a close, the duo sits atop a quorum of tunes - enough to fill a record. 

April of 2017 at Different Fur Studios; San Francisco, California:  Westman and Vait reach out to producer and studio owner, Patrick Brown, (Toro y Moi, K. Flay, The Morning Benders) to discover that a last-minute opening at the legendary studio happens to coincide harmoniously with the only open days in the busy musicians’ schedules.  The duo take residence at the studio for 10 days in April; eating, sleeping, tracking and mixing at the recording house that has hosted projects by Herbie Hancock, David Byrne and Brian Eno, Stevie Wonder, Jonathan Richman, Too $hort, Earth Wind & Fire, and far too many others to mention.

Utilizing the studio’s vast repository of vintage electronic and acoustic instruments (the album has the legendary Yamaha DX7 all over it), a borrowed baritone saxophone, and a few instruments brought from home, Westman and Vait lay down the 12 tracks.  Westman hops on the drum kit in the live room while Vait and engineer Bobby Renz look on from the control room.  Tape rolls; Bobby proffers, “ROLLING,” and Westman pounds out the rhythm while Vait slices away on one of the dozen or so synths within arm’s reach.  Brown pops his head in, listens, nods; someone makes a joke, everyone laughs and on to the next.  Before any memories can be cemented, the twelve tracks are complete.  Brown uses his wizardly mixing chops to cull the depth and breadth of the performances to the forefront, pumps up the bounce and sweetens the sheen.  The - albeit short - wait is over, and Wait Don't Wait is the resultant document; replete with catchy, quirky corkers overflowing with joy. 

</p>
<div id="bio-img-2" class="bio-img" parallax-background parallax-ratio=".2" parallax-start-point="0" parallax-vertical-offset="10"></div>
<p>
On the New Wave by way of Progressive Jazz banger, “Sleepy Eyes”, an imposing kick and warping synth take off like a supersonic jet.  In an 'I mean Serious Business' manner, Westman declares, “When the time is right I will take you home oh oh oh / When the feeling’s right I will let you know,” and it is clear that this is her call to make. The bounce continues, and - out of nowhere - the dancefloor falls into space and soothing jazz chords float over the classic puttering of a Roland CompuRhythm CR-78.  Just as suddenly, the four-on-the-floor beat returns, and soon saxophone, flute, guitar, and synth stabs pop in and out. Not since Beasties Boys’ Pauls Boutique have such abrupt changes within one song felt so damn right.

“Let Me Go”, another knockout, begins with a grimy bassline and a classic hip hop clap with Westman and Vait trading verses, asking those universal questions of love and love lost. On a dime, the song transforms to near power ballad – soaring upward and lifting the listener out of the muck of the day with the refrain “Home is where I’d be if my heart could just decide”, and in the same way all pop masterpieces do, it seems to end too soon – a serious ‘back button’ burner.    

With the release of Wait Don't Wait, SISTERS are not only presenting another pop record full of bangers that demands repeat listens – their second this year – they are also methodically working toward creating a world that is safe for everyone.  The thing called hatred; the thing called violence; the things that threaten life and love cannot survive in the face of true joy. SISTERS deliver unrestrained joy, and it is desperately needed right now. The world has been waiting, but it needs wait no more.    
</p>



<div id="bio-img-3" class="bio-img" parallax-background parallax-ratio=".2" parallax-vertical-offset="20" parallax-start-point="0"></div>
</div>
