
<!--<div class="bio-image-right">
  <img src="img/album.jpg"/>
</div>-->
<div id="about-section">
<div id="bio-img-1" class="bio-img" parallax-background parallax-start-point="0" parallax-ratio=".1">
  <div class="about-header-section">
    <h3 class="text-center no-margin">SISTERS</h3>
    <h4 style="font-style: italic;" class="text-center no-margin">Drink Champagne</h4>
  </div>
</div>
<!--<div style="margin-top: 5px;" class="about-header-section-mobile">
    <h3 class="text-center no-margin">SISTERS</h3>
    <h4 style="font-style: italic;" class="text-center no-margin">Drink Champagne</h4>
</div>-->
<p>
Cheers! Prost! Salud! L'chaim! Here's to you, you fine-looking stranger, and your good fortune for finding SISTERS. Let's toast to the band, a pair of multi-talented, long-lost best friends. Let's savor their debut album, made with passion and skill and some two-dozen assorted instruments and recorded in a literal, actual treehouse. Let's dig in and get down. Let's Drink Champagne.

How's that for an apropos album title?

Like popping the cork on a bottle of bubbly, SISTERS' music is made to make joy, built to build up and up and explode into the highest heights. It's no accident that the 11 songs on Drink Champagne will redline your dopamine level. Andrew Vait and Emily Westman, the soul-siblings of SISTERS, are both lifelong musicians, deeply dedicated and formally trained. Their only goal is to make you feel, and feel good.

After growing up on the farthest corners of the continent—Andrew in Alaska, Emily in South Florida—they met at the University of Miami's Frost School of Music, where he was studying jazz saxophone and jazz voice and she orchestral percussion and classical composition. Though they orbited in similar spheres, they barely overlapped at the time, instead nerding out in their studies and staying in their lanes. They didn't know it then, but the crescendo-pop powerhouse that is SISTERS was written into their future.
</p>
<div id="bio-img-2" class="bio-img" parallax-background parallax-ratio=".2" parallax-start-point="0" parallax-vertical-offset="10"></div>
<p>
After graduation, in mid-2007, Andrew and Emily moved separately to Seattle, each for their own reasons. They quickly infiltrated the city's ever- fertile music community, establishing themselves in different bands and projects. They finally found each other—again!—in the famed Seattle Rock Orchestra, a ensemble of more than 40 members who play symphonic renditions of classic-rock hits in collaboration with local rock stars.

Emily played percussion and her wife conducted the orchestra. And in 2011, Andrew was enlisted to perform as Freddie Mercury in SRO's tribute to Queen. He and Emily rekindled their connection, a friendship once deferred and now galvanized. Soon after, they moved a few blocks away from each other, "coincidentally"—but at this point neither believes in coincidence (and neither should you). From all this meant-to-be-ness, SISTERS was born. After a well-received 2014 EP, they now release Drink Champagne, their grandest and most eloquent statement.

Drink Champagne depicts a teeming musical landscape, vast and alluring, occupied by restless creatures longing for connection and humble protagonists searching for salvation. Songs play out like glistening vistas whizzing by a car window, all kinetic motion and mystery, contiguous but discrete. Every instrument, from a squadron of guitars and a slew of synths to hammer dulcimer and marimba and cowbell, tells its own story. The kernel is laid out in "Buck," the album's triumphant lead single (an earlier version of which you may have heard in a Toyota commercial). "I'm looking out the window/At a distant line of city lights," Emily and Andrew sing together. "I don't know what to call it/This wandering in the night." Listen to "Buck" and, like the narrators of the song, you to will feel the call of something greater.

"Buzzard" is similarly anthemic, moody and somber but simultaneously glorious in its piano-driven climax. "Trails" finds the band in a more playful mood but nevertheless intent and delivering a precise, poignant chorus. With "Colors," the duo burrows into complex vocal interplay. "Hero" burns slow and sultry, Emily cooing backing vocals while Andrew simmers on sax, until a massive electric guitar bursts into the scene to settle the score. "Back 2 U" is all blue-eyed soul, falsetto-voiced and saxophone-laced. Closer "Fall into the Mold" is the album's most ambitious composition, Emily taking lead vocals and pushing the song toward an unprecedented finale. Amid the head- back, arms-out catharsis of the album is meticulous focus to craft and detail: This macro/micro awareness is the hallmark of all great pop.

Emily and Andrew credit veteran producer Ryan Hadlock (the Lumineers, Ra Ra Riot, Cayucas) of Woodinville, Washington's Bear Creek Studio with eliciting their strongest performance on record. And yes, they recorded with Hadlock in the same treehouse studio as Cee-Lo Green and Brandi Carlile. In Drink Champagne you'll hear Hadlock's technical skill, plus shadows of the Cars and Phil Collins, Passion Pit and M83, Hall & Oates and Blood Orange. But more than anything, you'll hear the love between Emily and Andrew, the magnetism that pulled them together to make this music, that makes this music magic. One listen and you can't miss it.

Cheers to old friends and new beginnings. Cheers to SISTERS! Now drink up!
</p>

<p style="font-weight: 800; font-style: italic; text-align: right">Jonathan Zwickel / City Arts Magazine</p>


<div id="bio-img-3" class="bio-img" parallax-background parallax-ratio=".2" parallax-vertical-offset="40" parallax-start-point="0"></div>
</div>
