<div class="row">
  <div class="four columns">
    <div class="circle" ng-class="{display: hover1}" ng-mouseenter="hover1 = true" ng-mouseleave="hover1 = false">
      <div class="circle__inner">
        <div class="circle__wrapper">
          <div class="circle__content">
            <span class="header">management</span>
              <div class="info">
            <span style="font-weight: 800;">Ryan Crowther</span>
            <a href="mailto:ryan@lookleftmusic.com?subject=SISTERS">ryan@lookleftmusic.com</a>
             <a href="http://www.lookleftmusic.com " target="_blank">www.lookleftmusic.com</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="four columns">
    <div class="circle" ng-class="{display: hover2}" ng-mouseenter="hover2 = true" ng-mouseleave="hover2 = false">
      <div class="circle__inner">
        <div class="circle__wrapper">
          <div class="circle__content">
            <span class="header">booking</span>
              <div class="info">
            <span style="font-weight: 800;">United States:</span>
            <a href="mailto:ryan@lookleftmusic.com?subject=SISTERS">ryan@lookleftmusic.com</a>
            <span style="font-weight: 800;">EU:</span>
            <a href="mailto:dominik@rolamusic.com?subject=SISTERS">dominik@rolamusic.com</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="four columns">
    <div class="circle" ng-class="{display: hover3}" ng-mouseenter="hover3 = true" ng-mouseleave="hover3 = false">
      <div class="circle__inner">
        <div class="circle__wrapper">
          <div class="circle__content">
            <span class="header">press</span>
              <div class="info">
            <span style="font-weight: 800;">Beth Martinez</span>
            <a href="mailto:beth@dangervillage.com?subject=SISTERS">beth@dangervillage.com</a>
            <a href="http://www.dangervillage.com" target="_blank">www.dangervillage.com</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <div class="general-email-div">
      <h5 style="margin-bottom: 0;">For general inquiries, contact <a href="mailto:iheartsistersband@gmail.com?subject=SISTERS">iheartsistersband@gmail.com</a></h5>
  </div>
</div>
