<div class="row">
  <div class="four columns">
    <div class="circle" ng-class="{display: hover1}" ng-mouseenter="hover1 = true" ng-mouseleave="hover1 = false">
      <div class="circle__inner">
        <div class="circle__wrapper">
          <div class="circle__content">
            <span class="header">management</span>
              <div class="info">
            <span style="font-weight: 800;">Ryan Crowther</span>
            <a href="mailto:ryan@lookleftmusic@gmail.com?subject=SISTERS">ryan@lookleftmusic@gmail.com</a>
             <a href="http://www.lookleftmusic.com " target="_blank">www.lookleftmusic.com</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four columns">
    <div class="circle" ng-class="{display: hover2}" ng-mouseenter="hover2 = true" ng-mouseleave="hover2 = false">
      <div class="circle__inner">
        <div class="circle__wrapper">
          <div class="circle__content">
            <span class="header">booking</span>
              <div class="info">
            <span style="font-weight: 800;">Beth Martinez</span>
            <a href="mailto:beth@dangervillage.com?subject=SISTERS">beth@dangervillage.com</a>
            <a href="http://www.dangervillage.com" target="_blank">www.dangervillage.com</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four columns">
    <div class="circle" ng-class="{display: hover3}" ng-mouseenter="hover3 = true" ng-mouseleave="hover3 = false">
      <div class="circle__inner">
        <div class="circle__wrapper">
          <div class="circle__content">
            <span class="header">press</span>
              <div class="info">
             <span style="font-weight: 800">Dan Rozenblum</span>
              <a href="mailto:dan@circletalentagency.com?subject=SISTERS">dan@circletalentagency.com</a>
              <a href="http://www.circletalentagency.com/staff/dan-rozenblum" target="_blank">www.circletalentagency.com</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>