<form class="new-blog-form">
  <label for="blogTitle">Post Title</label>
  <input type="text" class="u-full-width" placeholder="This is a post title..." ng-model="post.postTitle" id="blogTitle"/>
  <div class="row">
    <div class="two columns">
      <label for="singleSelect"> Media Type: </label>
      <select name="singleSelect" ng-model="data.mediaSelect" ng-init="post.img ? data.mediaSelect = 'image' : data.mediaSelect = 'youtube'" ng-change="resetMedia()">
        <option value="image">Image</option>
        <option value="youtube">YouTube URL</option>
        <!-- <option value="soundcloud">Soundcloud URL</option> -->
      </select>
    </div>
    <div class="ten columns">
      <div ng-if="data.mediaSelect === 'image'" id="image-choice">
        <label for="imageUpload"> Image: </label>
        <div style="display: inline-block" ng-if="post.img" ng-show="!changeImage" class="thumbnail"><img ng-src="{{post.img}}"></div>
        <input ng-show="changeImage" type="file" name="imageUpload" fileread="data.image"/>
      </div>
      <button style="display: inline-block" ng-if="post.img" ng-show="!changeImage" ng-click="toggleImage()">Change image?</button>
      <div ng-if="data.mediaSelect === 'youtube'" id="youtube-choice">
      <label for="youtube">YouTube Link</label>
        <input class="u-full-width" type="text" name="youtube" placeholder="Enter YouTube link..." ng-model="data.youtube"/>
      </div>
    </div> <br>
    </div>
  <label for="blogBody">Post Body</label>
  <textarea class="u-full-width" rows="10" ng-model="post.postBody" placeholder="This is a new blog post..." id="blogBody"></textarea>
  <input type="text" placeholder="new tag name" ng-model="data.newTag"/><button ng-click="addTag(data.newTag)">Add Tag</button>
  <label class="checkbox-inline" ng-repeat="(key, value) in tags">
         <input type="checkbox" id="{{ key }}" value="{{ value }}" ng-model="post.tags[value.$id]">{{ value.name }}
   </label>
  <!-- <button class="tag-delete-btn" ng-click="deleteTag(tag)"><i class="fa fa-trash" aria-hidden="true"></i></button> -->
 
  <input class="button-primary" ng-click="updatePost(post)" type='submit'>

</form>

<!-- <label ng-repeat="role in roles">
  <input type="checkbox" data-checklist-model="user.roles" data-checklist-value="role"> {{role.text}}
</label> -->

{{post.tags}}


