<div class="footer">

  <div class="row">
    <div class="six columns footer-nav">
      <div class="cassette-div">
        <div class="sprite sprite-cassette"></div>
      </div>
      <ul class="footer-nav-links">
        <li><a ng-href="/about">About</a></li>
        <li><a ng-href="/press">Press</a></li>
        <li><a ng-href="/contact">Contact</a></li>
      </ul>
    </div>
     
      <div class="six columns footer-right">
        <div class="footer-social footer-link social">
          <a class="footer-icon" href="https://soundcloud.com/sisterstheband" target="_blank"><i class="fa fa-soundcloud fa-lg" aria-hidden="true"></i></a>
          <a class="footer-icon" href="https://open.spotify.com/artist/2Hb8mc3CoUktri3i4Q4ACR" target="_blank"><i class="fa fa-spotify fa-lg" aria-hidden="true"></i></a>
          <a class="footer-icon" href="https://www.snapchat.com/add/iheartsisters" target="_blank"><i class="fa fa-snapchat-ghost fa-lg" aria-hidden="true"></i></a>
          <a class="footer-icon" href="https://www.facebook.com/sisterstheband" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
          <a class="footer-icon" href="https://www.instagram.com/sisterstheband/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
          <a class="footer-icon" href="https://twitter.com/sisterstheband" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
        </div><br>
        <span class="copyright">All Content © 2017 Sylvia Morris LLC.</span>
        <button ng-show="firebaseUser.email" style="margin-bottom: 4px;" class="button button-circle button-flat-royal button-tiny-circle"
          ng-click="logout()"><i class="fa fa-sign-out"></i></button>
        <div class="website-design text-center">Website by Brent Rusinow</div </div>
      </div>
      </div>
  </div>
</div>

