<div class="footer">
  <div class="row">
    <div class="six columns">
      <div class="contact">
        <h5>CONTACT</h5>
        <p><strong>Management:</strong> Ryan Crowther</p>
        <a href="mailto:ryan@lookleftmusic.com?Subject=Sisters%20Inquiry!" target="_top">ryan@lookleftmusic.com</a>
        <div style="height: 10px;"></div>
        <p><strong>General Inquiries</strong></p>
        <a href="mailto:iheartsistersband@gmail.com?Subject=Hello%20Sisters!" target="_top">iheartsistersband@gmail.com</a>
      </div>
    </div>
    <div class="six columns footer-right">
      <div class="footer-social social">
      <a href="https://soundcloud.com/sisterstheband" target="_blank"><i class="fa fa-soundcloud fa-lg" aria-hidden="true"></i></a>
           <a href="https://www.snapchat.com/add/iheartsisters" target="_blank"><i class="fa fa-snapchat-ghost fa-lg" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/sisterstheband" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/sisterstheband/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
          <a href="https://twitter.com/sisterstheband" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
      </div><br>
    <ul>
      <li class="right-border">about</li>
      <li class="right-border">press</li>
      <li>Three</li>
    </ul>
    <span class="copyright">All Content ©2016 Sylvia Morris LLC.</span> <button class="footer-auth" ng-if="!firebaseUser.email" ng-click="login()">Log In</button>
      <button class="footer-auth" ng-if="firebaseUser.email" ng-click="logout()">Sign Out</button>
    </div>
  </div>
</div>

 <!--  <li style="font-weight: 400; font-size: .9em;">All content ©2016 Sisters The Band</li> -->
