<div id="mobile-nav" class="row">
  <div class="u-pull-left">
    <a ng-href="/"><div class="sprite sprite-logo"></div></a>
  </div>


  <div style="text-align: right;" class="u-pull-right">
    <i ng-click="toggle = !toggle" class="fa fa-bars fa-2x" aria-hidden="true"></i>
    <ul ng-class="{'drop-hidden' : toggle}">
      <li><a ng-click="toggle = !toggle" ng-href="/">home</a></li>
      <li><a ng-click="toggle = !toggle" ng-href="/shows">shows</a></li>
      <li><a ng-click="toggle = !toggle" href="https://open.spotify.com/artist/2Hb8mc3CoUktri3i4Q4ACR" target="_blank">music</a></li>
      <li><a ng-click="toggle = !toggle" ng-href="/blog">blog</a></li>
      <li ng-show="firebaseUser.email"><a ng-click="toggle = !toggle" ng-href="/admin">admin</a></li>
    </ul>
  </div> 
</div>


<div style="padding-left: 4%; padding-right: 4%;" id="main-nav" class="navbar row">
  <div style="vertical-align: middle;" class="eight columns">
    <a ng-href="/"><div class="sprite sprite-logo"></div></a>
    <ul style="margin-top: 1.5rem; margin-bottom: 0;" class="nav-left">
      <li><a ng-href="/shows">shows</a></li>
      <li><a href="https://open.spotify.com/artist/2Hb8mc3CoUktri3i4Q4ACR" target="_blank">music</a></li>
      <li><a ng-href="/blog">blog</a></li>
      <li ng-show="firebaseUser.email" ><a class="admin-nav-btn" ng-href="/admin">admin</a></li>
    </ul>

  </div>
  <div class="clear-float"></div>
  <div class="four columns right-nav-social-width">
    
    <div class="nav-right">
     
      <div style="margin-top: 1.5rem; margin-bottom: 0;" class="social header-social float-right">
        <a href="https://soundcloud.com/sisterstheband" target="_blank"><i class="fa fa-soundcloud fa-lg" aria-hidden="true"></i></a>
        <a href="https://open.spotify.com/artist/2Hb8mc3CoUktri3i4Q4ACR" target="_blank"><i class="fa fa-spotify fa-lg" aria-hidden="true"></i></a>
        <a href="https://www.snapchat.com/add/iheartsisters" target="_blank"><i class="fa fa-snapchat-ghost fa-lg" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/sisterstheband" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/sisterstheband/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
        <a href="https://twitter.com/sisterstheband" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
      </div>
    </div>
  </div> 
</div>
<div ng-show="isPopup">
  <div id="pop-up"></div>
  <div id="overlay-content">
    <button id="exit-popup" class="button-border" ng-click="closePopup()"><i class="fa fa-times" aria-hidden="true"></i></button>
    <div id="popup-img-div">
      <img src="/img/WaitDontWait.jpg"/>
    </div>
    <p style="font-size: 1.8em; margin-top: 10px; margin-bottom: 3px; font-style: italic" class="text-center">
      Wait Don't Wait
    </p>
     <p style="margin-bottom: 18px;" class="text-center">
      Available worldwide on Tender Loving Empire!
    </p>
    <div class="text-center">
   <a href="http://tndr.lv/waitdontwait" target="_blank" class="button popup-button button-flat-pink">Order Now</a>
    </div>
  </div>
</div>
