<div class="home-content" ng-class="{'fade-in': fadeHome, 'loaded': loaded}">
  
  <img id="album-full-width" style="margin-top: 15px;" class="u-max-full-width" src="/img/album-full2.png"/>
  <div class="album-border">
    <img id="album-cover" class="u-max-full-width" src="/img/album.jpg"/>
  </div>
  <div style="margin-top:20px" class="text-center">
  <h4 class="no-margin">POP BOTTLES WITH US!</h4>
  <h2>11.15.2016</h2>
  <a href="/store" class="button button-flat-blue button-jumbo">order now</a>
  </div>
</div>
