<div class="home-content" ng-class="{'fade-in': fadeHome, 'loaded': loaded}">
  
  <!-- <img id="album-full-width" style="margin-top: 15px;" class="u-max-full-width" src="/img/album-full2.png"/> -->
  <div class="videoWrapper">
     <iframe width="1280" height="720" src="https://www.youtube.com/embed/ycXJ5-Uwhlo?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
<!--   <div class="album-border">
    <img id="album-cover" class="u-max-full-width" src="/img/album.jpg"/>
  </div> -->
  <div style="margin-top:20px" class="text-center">
  <h4 class="no-margin">POP BOTTLES WITH US!</h4>
  <h2>11.15.2016</h2>
  <a href="/store" class="button button-flat-blue button-jumbo">order now</a>
  </div>
</div>
