

<div class="home-content text-center" ng-class="{'fade-in': fadeHome, 'loaded': loaded}">
  <div id="main-signup-div">
  <h3 class="text-center main-page-header">JOIN THE SISTERS MAILING LIST</h3>
  <p style="text-align: center;">Sign up to stay connected!</p>
   <form ng-hide="mailConfirm" name="navForm" class="nav-form" ng-submit="navForm.$valid && mailchimpSubmit(navForm, user.email, true)" novalidate>
     <input name="uEmail" type="email" placeholder="email address" ng-model="user.email" required/>
        <button type="submit" class="button-flat"><i style="position: relative; bottom: 5px;"class="fa fa-paper-plane-o fa-lg" aria-hidden="true"></i></button>  
      </form>
       <div ng-show="mailConfirm" class="mail-alerts">
           <span class="error" ng-show="form.uEmail.$error.email && form.$submitted">*This is not a valid email.</span>
          <div class="mailchimp-alert-confirm" ng-class="{'confirmAnimate': mailConfirm}">YAY! SISTERS loves you. <i class="fa fa-heart" aria-hidden="true"></i></div>
        </div>
  </div>
  <div class="row">
      <div id="main-video-container" class="six columns">
      <div class="videoWrapper" style="margin-bottom: 10px;">
        <iframe width="1280" height="720" src="https://youtube.com/embed/idRcb961Mrk?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      </div>
      <div id="main-video-container" class="six columns">
      <div class="videoWrapper" style="margin-bottom: 10px;">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/bNglCEjN0B0?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      </div>
  </div>
  <div class="row" style="margin-top: 20px;">
      <div id="main-video-container" class="six columns">
      <div class="videoWrapper" style="margin-bottom: 10px;">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/ZpMt_UIwFs0?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      </div>
      <div id="main-video-container" class="six columns">
      <div class="videoWrapper" style="margin-bottom: 10px;">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/ycXJ5-Uwhlo?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      </div>
  </div>


</div>
