

<div ng-if="!submitted && !logged" class="row">
  <div class="six columns offset-by-three login-outer">
    <div class="login-inner">
    <form style="margin-top: 10%" class="login-form">
      <div class="text-center login-header">
      <h4 >Admin Login</h4>
      </div>
      <label for="adminEmail">Admin Email:</label>     
      <input class="u-full-width" id="adminEmail" type="email" ng-model="user.email" placeholder="admin email">
      <label for="adminPassword">Password:</label>
      <input id="adminPassword" class="u-full-width" type="password" ng-model="user.password" placeholder="admin password">
      <div style="text-align: center;"class="row">
        <input style="margin-top: 25px;" class="button button-flat-pink" type="submit" ng-click="login()">
      </div>
    </form>
    </div>
  </div>
</div>
<div ng-if="submitted && !logged" class='uil-spin-css' style='-webkit-transform:scale(0.81)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>





<!-- 



<div class="setup-bg" title="Log in">
            <form style="margin-bottom: 0px;">
            <div class="row">
              <div class="six columns offset-by-3"
                    <label class="item item-input">
                        <span class="input-label">Email</span>
                        <input type="text" ng-model="user.email" placeholder="">
                    </label>
              </div>
            </div>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="user.password" placeholder="">
                    </label>
                <button class="button button-primary" ng-click="login()">
                    Log in
                </button>
            </form>
</div> -->