<div id="press-section">
<div class="text-center">
  <h2 class="text-center master-header">Press</h2>
</div>
<p>
"They are masters of crafting music but they are legends at crafting community."</p>
<p style="font-weight: 800; font-style: italic; text-align: right; padding-right:8%;">-KEXP</p>
<hr style="width: 90%">
<p>
"The formally trained pair wield all their talents—harmonizing, drumming, playing synth and God knows how many other instruments—often all at once."</p>
<p style="font-weight: 800; font-style: italic; text-align: right; padding-right:8%;">-Seattle Weekly</p>
<hr style="width: 90%">
<p>
"The origin story of indie project SISTERS is like a fairytale, and we're completely on board with it."</p>
<p style="font-weight: 800; font-style: italic; text-align: right; padding-right:8%;">-Impose Magazine</p>
<hr style="width: 90%">
<p>
"In real life, the band SISTERS do not want to sell you real estate and/or have you join a cult...If they did, though, it might be worth looking into."</p>
<p style="font-weight: 800; font-style: italic; text-align: right; padding-right:8%;">-The Stranger</p>
<hr style="width: 90%">
<p>"Tropical Skittles, clean cocaine, Steely Dan… some things in life are deliciously addictive. Resembling at least two of those three is the debut song by new electro-soul duo Sisters (one girl, one guy, not sisters). Careful with “Back 2 U”—that breezy bounce is 100 percent pure dopamine."</p>
<p style="font-weight: 800; font-style: italic; text-align: right; padding-right:8%;">-Jonathan Zwickel / City Arts Magazine</p>
<hr style="width: 90%">
<p>"SISTERS are all about having expansive arrangements that prove duos can do as much as a full-stocked band. As Westman puts it, "It's taking multi-tasking to the extreme." And that's exactly what SISTERS do with their new single, 'Buck'. It's an anthem with heavy beats that still finds a way to dance along the city rooftops on a Saturday night. There is a pulse that gets your toes tapping from the song's opening. You tend to forget that this is a duo with the amount of layering in 'Buck'. They play it off effortlessly."</p>
<p style="font-weight: 800; font-style: italic; text-align: right; padding-right:8%;">-The 405</p>
</div>


