  <div id="cart-container">
  <div class="row">
  <ngcart-cart class="u-full-width"></ngcart-cart>
  </div>
  <div class="row">
    <!--<button style="display: inline-block;" class="three columns offset-by-three text-center button button-flat-blue" ng-click="continue()">Continue Shopping</button>-->
    <button style="display: inline-block;" class="two columns offset-by-five text-center button button-flat-pink" ng-click="toCheckout()">Checkout</button>
  </div>
  </div>
<!-- <ngcart-checkout service="http" settings="{ url:'/checkout' }"></ngcart-checkout> -->
