<div class="row">
<div class="six columns">
<form ng-submit="submitForm()"> 
<input class="u-full-width" type="text" ng-model="number" placeholder="card" payments-format="card" payments-validate="card" payments-type-model="type"/>
<input class="u-full-width" type="text" ng-model="expiry" placeholder="expiration date" payments-validate="expiry" payments-format="expiry" />
<input class="u-full-width" type="text" ng-model="cvc" placeholder="cvc" payments-validate="cvc" payments-type-model="type" payments-format="cvc"/> 
<input type="submit"/>
</form>
</div>
  <div class="two columns offset-by-four">
    <ngcart-small-cart></ngcart-small-cart>
  </div>
</div>