<form ng-submit="submitForm()"> 
<input type="text" ng-model="data.number" payments-validate="card" placeholder="Credit Card Number" payments-format="data.card" payments-type-model="type"/>
 <input type="text" ng-model="data.exp" placeholder="Expiration Date"payments-validate="expiry" payments-format="expiry" />
<input type="text" ng-model="cvc" placeholder="CVC" payments-validate="cvc" payments-format="cvc" payments-type-model="type"/>
<!-- <input type="text" ng-model="address_zip" placeholder="Billing ZIP/Postal Code"/> -->
<input type="submit"/>
</form>
{{data}}