

<div ng-hide="loaded || orderComplete" class='uil-spin-css' style='-webkit-transform:scale(0.81)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
<div class="alert alert-success" role="alert" ng-if="orderComplete">
    Your order is complete! You should be receiving an email receipt shortly.
</div>
<div ng-if="orderComplete" class="confirm-complete">
  <img src="/img/sisters-champ.jpg">
</div>
<div class="alert alert-danger" role="alert" ng-if="isError">
    {{errorMessage}}
</div>


<div class="checkout" ng-class="{'fade-in': loaded}">
<ngcart-small-cart-collapse ng-hide='orderComplete' class="cart-summary-mobile"></ngcart-small-cart-collapse>
    <div class="row confirm-content" ng-hide="orderComplete">
        <div class="four columns">
            <div class="store-card store-card-confirm text-center">
                <div ng-if="shipBool">
                <div class="store-header-div">
                  <h6 class="text-center">Shipping Address</h6>
              </div>
              <div class="white-confirm">
                {{shipping.name}}<br>
                {{shipping.address1}}<br>
                <span ng-if="shipping.address2">{{shipping.address2}}<br></span>
                {{shipping.city}}, <span ng-if="shipping.state">{{shipping.state}}</span> {{shipping.postalCode}}<br>
                <span country-name country-code="shipping.country.code"></span>
            </div>
            </div>
            <div style="margin-top: 15px;" class="store-header-div">
              <h6 class="text-center">Billing Address</h6>
          </div>
          <div class="white-confirm">
            {{token.card.name}}<br>
            {{token.card.address_line1}}<br>
            <span ng-if="token.card.address_line2">{{token.card.address_line2}}<br></span>
            {{token.card.address_city}}, <span ng-if="token.card.address_state">{{token.card.address_state}}</span> {{token.card.address_zip}}<br>
            <!-- {{token.card.address_country}} -->
            <span country-name country-code="token.card.address_country"></span>
        </div>
        <div style="margin-top: 15px;" class="store-header-div">
          <h6 class="text-center">Payment Details</h6>
      </div>
      <div class="white-payment-confirm">
        Card Type: 
        <img style="margin-bottom: 4px;" ng-if="token.card.brand === 'Visa'" class="card-icon" src="/img/credit-cards/outline/visa.svg"/>
        <img style="margin-bottom: 4px;" ng-if="token.card.brand === 'MasterCard'" class="card-icon" src="/img/credit-cards/outline/mastercard.svg"/>
        <img style="margin-bottom: 4px;" ng-if="token.card.brand === 'American Express'" class="card-icon" src="/img/credit-cards/outline/amex.svg"/>
        <img style="margin-bottom: 4px;" ng-if="token.card.brand === 'Discover'" class="card-icon" src="/img/credit-cards/outline/discover.svg"/>
        <br>
        <span class="credit-card">**** **** **** {{token.card.last4}}</span>
    </div>
     <div style="margin-top: 15px;" class="store-header-div">
          <h6 class="text-center">Will Call Name</h6>
      </div>
      <div style="font-size: 1.2em;">
        {{order.willCallName}}
    </div>
</div>
</div>

<div class="eight columns">
    <div class="small-cart-outline cart-summary-large">
        <div class="small-cart-card">
            <table class="table ngCart cart">

                <thead>
                    <tr>
                        <th></th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Total</th>
                    </tr>
                </thead>
                  <tbody>
                    <tr ng-repeat="item in ngCart.getCart().items track by $index">
                        <td></td>

                        <td>{{ item.getName() }} <span ng-show="item._data.product_type === 'ticket'"> ({{item._data.date | slashDate}})</span></td>
                        <td>
                            {{ item.getQuantity() | number }}
                        </td>
                        <td>{{ item.getPrice() | centsToDollars | currency }}</td>
                        <td>{{ item.getTotal() | centsToDollars | currency }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="main-cart-row">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
                        <td>{{ ngCart.getTax() | centsToDollars | currency }}</td>
                    </tr>
                    <tr ng-if="shipBool" class="main-cart-row">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Shipping ({{thisShip.servicelevel_name}}) :</td>
                        <td>{{ ngCart.getShipping() | centsToDollars | currency }}</td>
                    </tr>
                    <tr class="main-cart-row">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total:</td>
                        <td>{{ ngCart.totalCost() | centsToDollars | currency }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="text-center">
        <button ng-hide="orderComplete" class="button-flat-blue button-large" ng-click="createCharge()">Submit Order</button>
    </div>

</div>




</div>

</div>

