
<div ng-hide="loaded" class='uil-spin-css' style='-webkit-transform:scale(0.81)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
<div class="checkout" ng-class="{'fade-in': loaded}">
<ngcart-small-cart-collapse class="cart-summary-mobile"></ngcart-small-cart-collapse>
  <form name="payment-form" novalidate ng-submit="submitForm(payment-form)">
  <div class="row">
    <div style="margin-bottom: 10px;" class="four columns">
      <div class="store-card">
        <div class="store-header-div">
          <h6 class="text-center">Shipping Method</h6>
        </div>
        <div class="shipping-box">
        <ul>
          <li ng-repeat="ship in shipOptions">
          <label>
            <input type="radio" ng-model="$parent.selectedShip" ng-value="ship">
            <span class="ship-info-main">{{ship.amount | centsToDollars | currency}} ({{ship.description}})</span><br>
            <span class="ship-info-sub">Delivery Estimate: {{ship.delivery_estimate.date | DeliveryEstDate}}</span>
          </label>
          </li>
          </ul>
        <!--   <label>
            <input type="radio" ng-model="shipChoice" ng-value="shippingType.expedited">
            {{shippingType.expedited.price | centsToDollars | currency}} ({{shippingType.expedited.service}})
          </label> -->
        </div>
      </div>
   
    </div>
    <div style="margin-bottom: 10px;" class="four columns">
       <div class="store-card">
        <div class="store-header-div">
          <h6 class="text-center">Payment Method</h6>
        </div>
        <div class="card-brands-container">
          <div class="card-brands-div">
            <div class="card-brands-border" ng-class="{'active-card': type === 'visa'}">
              <img src="/img/credit-cards/flat/visa.svg"/>
            </div>
          </div>
          <div class="card-brands-div">
            <div class="card-brands-border" ng-class="{'active-card': type === 'mastercard'}">
              <img src="/img/credit-cards/flat/mastercard.svg"/>
            </div>
          </div>
          <div class="card-brands-div">
            <div class="card-brands-border" ng-class="{'active-card': type === 'amex'}">
              <img src="/img/credit-cards/flat/amex.svg"/>
            </div>
          </div>
          <div class="card-brands-div">
            <div class="card-brands-border" ng-class="{'active-card': type === 'discover'}">
              <img src="/img/credit-cards/flat/discover.svg"/>
            </div>
          </div>
        </div>
        <div class="payment-input">
        <input class="credit-card-num columns" type="text" ng-model="number" placeholder="card" payments-format="card" payments-validate="card" payments-type-model="type"/>
        <div class="row">
          <input class="exp-cvc-line exp-left columns" type="text" ng-model="expiry" placeholder="exp" payments-validate="expiry" payments-format="expiry" />
          <input class="exp-cvc-line columns cvc-right" type="text" ng-model="cvc" placeholder="cvc" payments-validate="cvc" payments-type-model="type" payments-format="cvc"/> 
        </div>
        </div>
      </div>
    </div>
    <div class="four columns text-center">
      <ngcart-small-cart class="cart-summary-large"></ngcart-small-cart>
      <button style="margin-top: 10px;" class="button button-flat-blue" type="submit">Confirm Your Order</button>




    </div>
  </div>
  </form>
</div>


