<div class="row">
  <div class="store-path-div u-full-width">
    <div class="store-path-container">
      <div class="number-circle" ng-class="{'active-circle': path === '/store/checkout/address'}">1</div>
      <span class="store-path-text" ng-class="{'active-path': path === '/store/checkout/address'}">Address</span>
    </div>
    <i class="fa fa-chevron-right chevron-path" aria-hidden="true"></i> 
    <div class="store-path-container">
      <div class="number-circle" ng-class="{'active-circle': path === '/store/checkout/payment'}">2</div><span class="store-path-text" ng-class="{'active-path': path === '/store/checkout/payment'}">Payment & Shipping</span>
    </div> 
    <i class="fa fa-chevron-right chevron-path" aria-hidden="true"></i> 
    <div class="store-path-container">
      <div class="number-circle" ng-class="{'active-circle': path === '/store/checkout/confirm'}">3</div><span class="store-path-text" ng-class="{'active-path': path === '/store/checkout/confirm'}">Confirm</span>
    </div> 
  </div>
</div>

<ui-view></ui-view>