<div class="alert alert-danger" role="alert" ng-if="errorMessage">
  {{errorMessage}} Please check that your information is correct and try again.
</div>
<div ng-hide="loaded.length === 3" class='uil-spin-css' style='-webkit-transform:scale(0.81)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
<ngcart-small-cart-collapse class="cart-summary-mobile"></ngcart-small-cart-collapse>
<form name="form" class="checkout-form checkout" ng-class="{'fade-in': loaded.length === 3}" novalidate ng-submit="submitForm(form)">
  <div class="row">
    <div class="four columns">
      <div class="store-card">
        <div class="store-header-div">
          <h6 class="text-center">Shipping Address</h6>
        </div>

        <div class="input-container">
          <input name="shippingName" class="u-full-width" type="text" ng-model="data.shipping.name" required placeholder="Customer Name" />
          <span class="input-validate-text" ng-class="{'show': form.shippingName.$error.required && form.$submitted}">*Required</span>
        </div>

        <div class="input-container">
          <input class="u-full-width" name="shippingEmail" type="email" ng-model="data.shipping.email" required placeholder="Email Address" />
          <span class="input-validate-text" ng-class="{'show': form.shippingEmail.$error.required && form.$submitted}">*Required</span>
          <span class="input-validate-text" ng-class="{'show': form.shippingEmail.$error.email && form.$submitted}">*Not a valid email</span>
        </div>

        <div class="input-container">
          <input name="shippingPhone" class="u-full-width" type="text" ng-model="data.shipping.phone" required placeholder="Phone Number" />
          <span class="input-validate-text" ng-class="{'show': form.shippingPhone.$error.required && form.$submitted}">*Required</span>
        </div>

        
        <select class="u-full-width" ng-options="country.name for country in countries track by country.name" required data-ng-model="data.shipping.country" ng-change="countryChange(data.shipping.country)">
          <!--   <option value="" disabled>Choose Your Country</option> -->
        </select>

        <div class="input-container">
          <input name="shippingAddress1" class="u-full-width" type="text" ng-model="data.shipping.address1" required placeholder="Address 1" />
          <span class="input-validate-text" ng-class="{'show': form.shippingAddress1.$error.required && form.$submitted}">*Required</span>
        </div>


        <input class="u-full-width" type="text" ng-model="data.shipping.address2" placeholder="Address 2" />
        <div class="row">

          
          <input name="shippingCity" class="six columns" type="text" ng-model="data.shipping.city" required placeholder="City" />
          <input class="six columns" type="text" ng-model="data.shipping.postalCode" required placeholder="ZIP/Postal Code" />
        </div>

        <div class="input-container">
          <select name="shipState" ng-if="data.shipping.country.code === 'US'" ng-required="data.shipping.country.code === 'US'" class="u-full-width" ng-model="data.shipping.stateProvince" ng-change="getTaxRate(data.shipping.country, data.shipping.stateProvince, data.shipping.postalCode)" ng-options="state.name for state in states track by state.name" >
            <option value="" disabled selected>Choose Your State</option>
          </select>
          <span class="input-validate-text" ng-class="{'show': form.shipState.$error.required && form.$submitted}">*Required</span>
        </div>
        <div class="input-container">
          <select name="shipProvince" ng-if="data.shipping.country.code === 'CA'" ng-required="data.shipping.country.code === 'CA'" class="u-full-width" data-ng-model="data.shipping.stateProvince" ng-options="province.name for province in provinces track by province.name">
            <option value="" disabled selected>Choose Your Province</option>
          </select>
          <span class="input-validate-text" ng-class="{'show': form.shipProvince.$error.required && form.$submitted}">*Required</span>
        </div>

        <label class="text-center">Billing address same as shipping? <input type="checkbox" ng-model="data.shippingSame" ng-change="isShippingSame()"></label>
        <label class="text-center">Add me to the SISTERS mailing list! <input type="checkbox" ng-model="mailingListAdd"></label>
      </div>
      <br>

    </div>


    <div class="four columns">
      <div class="store-card" ng-class="{'disabled-inputs': shippingSameBool}">
        <div class="store-header-div">
          <h6 class="text-center">Billing Address</h6>
        </div>

        <div class="input-container">
          <input name="billName" class="u-full-width" type="text" ng-model="data.billing.name" required placeholder="Billing Name" />
          <span class="input-validate-text" ng-class="{'show': form.billName.$error.required && form.$submitted}">*Required</span>
        </div>
        <select class="u-full-width" data-ng-model="data.billing.country" ng-disabled="shippingSameBool" ng-options="country.name for country in countries">
          <option value="" disabled selected>Choose Your Country</option>
        </select>

        <div class="input-container">
          <input name="billAddress1" class="u-full-width" type="text" ng-model="data.billing.address1" required ng-disabled="shippingSameBool" placeholder="Address 1" />
          <span class="input-validate-text" ng-class="{'show': form.billAddress1.$error.required && form.$submitted}">*Required</span>
        </div>


        <input class="u-full-width" type="text" ng-model="data.billing.address2" ng-disabled="shippingSameBool" placeholder="Address 2" />
        <div class="row">
          <input class="six columns" type="text" ng-model="data.billing.city" required ng-disabled="shippingSameBool" placeholder="City" />
          <input class="six columns" type="text" ng-model="data.billing.postalCode" ng-blur="getTaxRate(data.shipping.country, data.shipping.stateProvince, data.shipping.postalCode)" required ng-disabled="shippingSameBool" placeholder="ZIP/Postal Code" />
        </div>

        <div class="input-container">
          <select name="billState" ng-if="data.billing.country.code === 'US'" class="u-full-width" required data-ng-model="data.billing.stateProvince" ng-disabled="shippingSameBool" ng-options="state.name for state in states track by state.name">
            <option value="" disabled selected>Choose Your State</option>
          </select>
          <span class="input-validate-text" ng-class="{'show': form.billState.$error.required && form.$submitted}">*Required</span>
        </div>

        <div class="input-container">
          <select name="billProvince" ng-if="data.billing.country.code === 'CA'" class="u-full-width" data-ng-model="data.billing.stateProvince" ng-disabled="shippingSameBool" ng-options="province.name for province in provinces track by province.name">
            <option value="" disabled selected>Choose Your Province</option>
          </select>
          <span class="input-validate-text" ng-class="{'show': form.billProvince.$error.required && form.$submitted}">*Required</span>
        </div>
        
      </div>
      <br>
      



    </div>


    <div class="four columns text-center">

      <ngcart-small-cart class="cart-summary-large"></ngcart-small-cart>
      <button class="button button-flat-blue" type="submit">Continue to Payment</button>
      {{pathCount}}
    </div>
  </div>
</form>
