
<div class="row">
<div class="store-card four columns">
<div class="store-header-div">
  <h6 class="text-center">Shipping Address</h6>
</div>
<form>
<input class="u-full-width" type="text" ng-model="data.shipping.name" placeholder="Customer Name" />
<input class="u-full-width" type="email" ng-model="data.shipping.email" placeholder="Email Address" />
<input class="u-full-width" type="text" ng-model="data.shipping.phone" placeholder="Phone Number" />
<select class="u-full-width" ng-options="country.name for country in countries track by country.name" data-ng-model="data.shipping.country">
<!--   <option value="" disabled>Choose Your Country</option> -->
</select>
<input class="u-full-width" type="text" ng-model="data.shipping.address1" placeholder="Address 1" />
<input class="u-full-width" type="text" ng-model="data.shipping.address2" placeholder="Address 2" />
<div class="row">
<input class="six columns" type="text" ng-model="data.shipping.city" placeholder="City" />
<input class="six columns" type="text" ng-model="data.shipping.postalCode" placeholder="ZIP/Postal Code"/>
</div>
<select ng-if="data.shipping.country.code === 'US'" class="u-full-width" data-ng-model="data.shipping.stateProvince" ng-options="state.name for state in states track by state.name" ng-blur="getTaxRate(data.shipping.country, data.shipping.stateProvince, data.shipping.postalCode)">
  <option value="" disabled selected>Choose Your State</option>
</select>
<select ng-if="data.shipping.country.code === 'CA'" class="u-full-width" data-ng-model="data.shipping.stateProvince" ng-options="province.name for province in provinces track by province.name">
  <option value="" disabled selected>Choose Your Province</option>
</select>

<label class="text-center">Billing address same as shipping? <input type="checkbox" ng-model="data.shippingSame" ng-change="isShippingSame()"></label>
<label class="text-center">Add me to the SISTERS mailing list! <input type="checkbox" ng-model="mailingListAdd"></label>
</div>



<div class="four columns">
  <div class="store-card" ng-class="{'disabled-inputs': shippingSameBool}">
    <div class="store-header-div">
      <h6 class="text-center">Billing Address</h6>
    </div>
      <select class="u-full-width" data-ng-model="data.billing.country" ng-disabled="shippingSameBool" ng-options="country.name for country in countries">
        <option value="" disabled selected>Choose Your Country</option>
      </select>
      <input class="u-full-width" type="text" ng-model="data.billing.address1" ng-disabled="shippingSameBool" placeholder="Address 1" />
      <input class="u-full-width" type="text" ng-model="data.billing.address2" ng-disabled="shippingSameBool" placeholder="Address 2" />
      <input class="u-full-width" type="text" ng-model="data.billing.city" ng-disabled="shippingSameBool" placeholder="City" />
      <select ng-if="data.billing.country.code === 'US'" class="u-full-width" data-ng-model="data.billing.stateProvince" ng-disabled="shippingSameBool" ng-options="state.name for state in states track by state.name">
        <option value="" disabled selected>Choose Your State</option>
      </select>
      <select ng-if="data.billing.country.code === 'CA'" class="u-full-width" data-ng-model="data.billing.stateProvince" ng-disabled="shippingSameBool" ng-options="province.name for province in provinces track by province.name">
        <option value="" disabled selected>Choose Your Province</option>
      </select>
      <input class="u-full-width" type="text" ng-model="data.billing.postalCode" ng-disabled="shippingSameBool" placeholder="ZIP/Postal Code" />
  </div>
  <br>
  <div class="store-card">
  <div class="store-header-div">
    <h6 class="text-center">Payment Method</h6>
  </div>
  <div class="card-brands">
    <img src="/img/credit-cards/visa.png"/>
    <img src="/img/credit-cards/mastercard.png"/>
    <img src="/img/credit-cards/amex.png"/>
    <img src="/img/credit-cards/discover.png"/>
  </div>
  <input class="u-full-width" type="text" ng-model="number" placeholder="card" payments-format="card" payments-validate="card" payments-type-model="type"/>
  <div class="row">
<input class="six columns" type="text" ng-model="expiry" placeholder="expiration date" payments-validate="expiry" payments-format="expiry" />
<input class="six columns" type="text" ng-model="cvc" placeholder="cvc" payments-validate="cvc" payments-type-model="type" payments-format="cvc"/> 
</div>
</div>



</div>


<div class="four columns">
  <div class="store-card">
    <div class="store-header-div">
      <h6 class="text-center">Shipping Method</h6>
    </div>
    <div class="shipping-box">
      <label>
        <input type="radio" ng-model="shipping.method" value="standard">
        Standard Shipping
      </label><br/>
      <label>
        <input type="radio" ng-model="shipping.method" ng-value="expedited">
        Expedited Shipping
      </label>
    </div>
  </div>
  <br>
  <ngcart-small-cart></ngcart-small-cart>
  <button class="u-full-width button" ng-click="submitForm()" type="submit">Confirm Your Order</button>
</div>




</div>
</form>
