<div ng-hide="loaded" class='uil-spin-css' style='-webkit-transform:scale(.81)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
<div class="store-container">
<div class="store-front" ng-if="loaded">
    <div ng-if="firebaseUser.email" style="text-align: center; margin-bottom: 20px;" id="store-admin">
        <button ng-click="addProduct()" class="button-jumbo button-flat-pink">Add a Product</button>
        <!--<button class="button-jumbo button-flat-pink">Add a SKU</button>-->
    </div>



<!--Products start HERE!-->

<div ng-repeat="product in products track by $index" ng-if="$index % 4 === 0" class="store-row row">
    <div ng-click="showProduct(products[$index].$id)" class="storefront columns store-item">
        <div class="item-image-div">
          <img ng-src="{{products[$index].images[0]}}"/>
        </div>
        <h6 class="store-item-title">{{products[$index].title}}</h6>
        <h5 class="store-item-price text-center no-margin">{{firstPrice(products[$index].variant.skus) | centsToDollars | currency}}</h5>
        <ngcart-add-btn id="{{ products[$index].$id}}" sku="{{ products[$index].variant.skus }}" name="{{ products[$index].title }}" price="{{ firstPrice(products[$index].variant.skus) }}" quantity="1" quantity-max="30" data="{'shippable': products[$index].shippable, 'ship_details': products[$index].shipping}">Add to Cart</ngcart-addtocart>
           
    
    </div>
    <div ng-click="showProduct(products[$index + 1].$id)" class="storefront columns store-item" ng-if="products.length > ($index + 1)">
      
        <div class="item-image-div">
           <img ng-src="{{products[$index + 1].images[0]}}"/>
        </div>
        <h6 class="store-item-title">{{products[$index + 1].title}}</h6>
        <h5 class="store-item-price text-center no-margin">{{firstPrice(products[$index + 1].variant.skus) | centsToDollars | currency}}</h5>
        <ngcart-add-btn id="{{ products[$index + 1].$id}}" sku="{{ products[$index + 1].variant.skus }}" name="{{ products[$index + 1].title }}" price="{{ firstPrice(products[$index + 1].variant.skus) }}" quantity="1" quantity-max="30" data="{'shippable': products[$index + 1].shippable, 'ship_details': products[$index + 1].shipping}">Add to Cart</ngcart-addtocart>

    </div>
    <div ng-click="showProduct(products[$index + 2].$id)" class="storefront columns store-item" ng-if="products.length > ($index + 2)">
       
        <div class="item-image-div">
           <img ng-src="{{products[$index + 2].images[0]}}"/>
        </div>
        <h6 class="store-item-title">{{products[$index + 2].title}}</h6>
       <!--  <p>{{products[$index + 2].description}}</p> -->
        <h5 class="store-item-price text-center no-margin">{{firstPrice(products[$index + 2].variant.skus) | centsToDollars | currency}}</h5>
        <ngcart-add-btn id="{{ products[$index + 2].$id }}" sku="{{ products[$index + 2].variant.skus }}" name="{{ products[$index + 2].title }}" price="{{ firstPrice(products[$index + 2].variant.skus) }}" quantity="1" quantity-max="30" data="{'shippable': products[$index + 2].shippable, 'ship_details': products[$index + 2].shipping}">Add to Cart</ngcart-addtocart>
    </div>
     <div ng-click="showProduct(products[$index + 3].id)" class="storefront columns store-item" ng-if="products.length > ($index + 3)">
       
        <div class="item-image-div">
           <img ng-src="{{products[$index + 3].images[0]}}"/>
        </div>
        <h6 class="store-item-title">{{products[$index + 3].title}}</h6>
       <!--  <p>{{products[$index + 2].description}}</p> -->
        <h5 class="store-item-price text-center no-margin">{{firstPrice(products[$index + 3].variant.skus) | centsToDollars | currency}}</h5>
        <ngcart-add-btn id="{{ products[$index + 3].$id }}" sku="{{ products[$index + 3].variant.skus }}" name="{{ products[$index + 3].title }}" price="{{ firstPrice(products[$index + 3].variant.skus) }}" quantity="1" quantity-max="30" data="{'shippable': products[$index + 3].shippable, 'ship_details': products[$index + 3].shipping}">Add to Cart</ngcart-addtocart>
    </div>
</div>
</div>
</div>

