<div ng-hide="loaded" class='uil-spin-css' style='-webkit-transform:scale(.81)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
<div class="store-container">
<div class="store-front" ng-if="loaded">
<div ng-repeat="product in products" ng-if="$index % 3 === 0" class="store-row row">
  
    <div ng-click="showProduct(products[$index].id)" class="storefront columns store-item">
        <div class="item-image-div">
          <img ng-src="{{products[$index].images[0]}}"/>
        </div>
        <h6>{{products[$index].name}}</h6>
        <!-- <p>{{products[$index].description}}</p> -->
        <h5 class="text-center no-margin">{{products[$index].skus.data[0].price | centsToDollars | currency}}</h5>
        <ngcart-add-btn id="{{ products[$index].skus.data[0].id }}" name="{{ products[$index].name }}" price="{{ products[$index].skus.data[0].price }}" quantity="1" quantity-max="30" data="products[$index]">Add to Cart</ngcart-addtocart>
    </div>
    <div ng-click="showProduct(products[$index + 1].id)" class="storefront columns store-item" ng-if="products.length > ($index + 1)">
      
        <div class="item-image-div">
           <img ng-src="{{products[$index + 1].images[0]}}"/>
        </div>
         <h6>{{products[$index + 1].name}}</h6>
       <!--  <p>{{products[$index + 1].description}}</p> -->
        <h5 class="text-center no-margin">{{products[$index + 1].skus.data[0].price | centsToDollars | currency}}</h5>
        <ngcart-add-btn id="{{ products[$index + 1].skus.data[0].id }}" name="{{ products[$index + 1].name }}" price="{{ products[$index + 1].skus.data[0].price }}" quantity="1" quantity-max="30" data="products[$index + 1]">Add to Cart</ngcart-addtocart>

    </div>
    <div ng-click="showProduct(products[$index + 2].id)" class="storefront columns store-item" ng-if="products.length > ($index + 2)">
       
        <div class="item-image-div">
           <img ng-src="{{products[$index + 2].images[0]}}"/>
        </div>
        <h6>{{products[$index + 2].name}}</h6>
       <!--  <p>{{products[$index + 2].description}}</p> -->
        <h5 class="text-center no-margin">{{products[$index + 2].skus.data[0].price | centsToDollars | currency}}</h5>
        <ngcart-add-btn id="{{ products[$index + 2].skus.data[0].id }}" name="{{ products[$index + 2].name }}" price="{{ products[$index + 2].skus.data[0].price }}" quantity="1" quantity-max="30" data="products[$index + 2]">Add to Cart</ngcart-addtocart>
    </div>
</div>
</div>
</div>

